/****** Object:  Table [dbo].[AppliedCustomerDiscount]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppliedCustomerDiscount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oCustomer] [int] NULL,
	[CustomerCode] [nvarchar](20) NULL,
	[oDiscountProgram] [int] NULL,
	[UsedCount] [int] NULL,
	[LastUsedDate] [datetime2](0) NULL,
	[IsActive] [int] NULL,
	[DataStatus] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[bMeetCARTCondition] [int] NULL,
	[oOptionDiscountDecorator] [int] NULL,
	[bApplied] [int] NULL,
	[oRefCustomerDiscount] [int] NULL,
	[AppliedDate] [datetime2](0) NULL,
 CONSTRAINT [PK_AppliedCustomerDiscount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AS2Log]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AS2Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](1000) NULL,
	[AS2Type] [nvarchar](80) NULL,
	[CreatedDate] [datetime] NULL,
	[Note] [nvarchar](4000) NULL,
	[XactCode] [nvarchar](400) NULL,
	[XactCtrlNum] [nvarchar](400) NULL,
 CONSTRAINT [PK_AS2Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AS2VAOrderRelation]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AS2VAOrderRelation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedID] [nvarchar](40) NULL,
	[AS2LogID] [int] NULL,
	[PONo850] [nvarchar](200) NULL,
	[PODate850] [nvarchar](400) NULL,
	[PurposeCode] [nvarchar](40) NULL,
	[VAOrderID] [int] NULL,
	[VAPONo] [nvarchar](20) NULL,
	[DateOf855] [datetime2](0) NULL,
	[MemoOf855] [nvarchar](400) NULL,
	[DateOf856] [datetime2](0) NULL,
	[MemoOf856] [nvarchar](400) NULL,
	[DateOf810] [datetime2](0) NULL,
	[MemoOf810] [nvarchar](400) NULL,
 CONSTRAINT [PK_AS2VAOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CA_EAS_DOM]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_EAS_DOM](
	[ID] [int] NOT NULL,
	[FromCode] [nvarchar](255) NULL,
	[ToCode] [nvarchar](255) NULL,
	[Charge] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CanadaTax]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanadaTax](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceID] [nvarchar](6) NOT NULL,
	[ProvinceName] [nvarchar](30) NULL,
	[CountryName] [nvarchar](30) NULL,
	[FromProvionceID] [nvarchar](6) NULL,
	[TaxIDfromProvionce] [nvarchar](4) NULL,
	[TaxID] [nvarchar](4) NULL,
	[TaxRateHST] [float] NULL,
	[TaxRateGST] [float] NULL,
	[TaxRatePST] [float] NULL,
	[TaxRateReserve] [float] NULL,
	[Status] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedTime] [nvarchar](30) NULL,
	[UpdatedID] [nvarchar](10) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedTime] [nvarchar](30) NULL,
	[Comment] [nvarchar](80) NULL,
 CONSTRAINT [PK_CanadaTax] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CreditOrderItem]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditOrderItem](
	[ID] [int] NOT NULL,
	[oVAOrder] [int] NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[PONo] [nvarchar](20) NULL,
	[Credit] [decimal](18, 2) NULL,
	[RawAmount] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Remark] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[DataStatus] [nvarchar](20) NULL,
	[oDiscount] [int] NULL,
	[NameOnInvoice] [nvarchar](400) NULL,
	[CodeOnInvoice] [nvarchar](40) NULL,
	[LIN01] [nvarchar](10) NULL,
	[oFromBackOrder] [int] NULL,
	[FromBONo] [nvarchar](20) NULL,
 CONSTRAINT [PK_CreditOrderItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerAccount]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[CustomerName] [nvarchar](400) NULL,
	[CustomerOwner] [nvarchar](400) NULL,
	[ContactPersonalTitle] [nvarchar](400) NULL,
	[ContactPersonal] [nvarchar](400) NULL,
	[ContactPersonalTel] [nvarchar](40) NULL,
	[ContactPersonalEmail] [nvarchar](400) NULL,
	[ContactManagerTitle] [nvarchar](400) NULL,
	[ContactManager] [nvarchar](400) NULL,
	[ContactManagerTel] [nvarchar](40) NULL,
	[ContactManagerEmail] [nvarchar](400) NULL,
	[CustomerPersonal1] [nvarchar](400) NULL,
	[CustomerName1] [nvarchar](400) NULL,
	[CustomerAddress1] [nvarchar](400) NULL,
	[CustomerCity1] [nvarchar](50) NULL,
	[CustomerProvince1] [nvarchar](40) NULL,
	[CustomerPostalCode1] [nvarchar](40) NULL,
	[CustomerCountry1] [nvarchar](40) NULL,
	[CustomerTel1] [nvarchar](40) NULL,
	[CustomerFax1] [nvarchar](40) NULL,
	[CustomerPersonal2] [nvarchar](400) NULL,
	[CustomerName2] [nvarchar](400) NULL,
	[CustomerAddress2] [nvarchar](400) NULL,
	[CustomerCity2] [nvarchar](50) NULL,
	[CustomerProvince2] [nvarchar](40) NULL,
	[CustomerPostalCode2] [nvarchar](40) NULL,
	[CustomerCountry2] [nvarchar](40) NULL,
	[CustomerTel2] [nvarchar](40) NULL,
	[CustomerFax2] [nvarchar](40) NULL,
	[CreditCardType1] [nvarchar](10) NULL,
	[CardHolder1] [nvarchar](400) NULL,
	[CardNumber1] [nvarchar](50) NULL,
	[CreditCardCID1] [nvarchar](10) NULL,
	[CardExpiryDate1] [nvarchar](8) NULL,
	[CreditCardType2] [nvarchar](10) NULL,
	[CardHolder2] [nvarchar](400) NULL,
	[CardNumber2] [nvarchar](50) NULL,
	[CreditCardCID2] [nvarchar](10) NULL,
	[CardExpiryDate2] [nvarchar](8) NULL,
	[DataStatus] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedTime] [nvarchar](30) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedTime] [nvarchar](30) NULL,
	[Comment] [nvarchar](1000) NULL,
	[PaymentTerm] [nvarchar](40) NULL,
	[MonthlyCredit] [nvarchar](16) NULL,
	[PromotionPlan] [nvarchar](16) NULL,
	[PaymentType] [nvarchar](400) NULL,
	[DiscountPriority] [nvarchar](16) NULL,
	[CustomerEmail] [nvarchar](400) NULL,
	[CustomerEmail1] [nvarchar](400) NULL,
	[CustomerEmail2] [nvarchar](400) NULL,
	[CustomerOwnerTitle] [nvarchar](400) NULL,
	[InvoiceEmail] [nvarchar](400) NULL,
	[InvoiceToCustomer] [nvarchar](50) NULL,
	[SalesRepID] [nvarchar](20) NULL,
	[SalesRep] [nvarchar](400) NULL,
	[CustomerRepID] [nvarchar](20) NULL,
	[CustomerRep] [nvarchar](400) NULL,
	[ShippedVia] [nvarchar](400) NULL,
	[IsActive] [int] NULL,
	[SameAsBillAddress] [int] NULL,
	[PricePolicy] [int] NULL,
	[OrderCount] [int] NULL,
	[AutoCommission] [int] NULL,
	[OverridedCommissionRate] [float] NULL,
	[DisplayLotNo] [int] NULL,
	[oPaymentTerm] [int] NULL,
	[POMemo] [nvarchar](400) NULL,
	[EmployeeMonthlyCredit] [decimal](18, 2) NULL,
	[bDistributor] [int] NULL,
	[PriceRateForDistributor] [float] NULL,
 CONSTRAINT [PK_CustomerAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerAddress]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddress](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oCustomer] [int] NULL,
	[CustomerCode] [nvarchar](20) NULL,
	[CustomerName] [nvarchar](400) NULL,
	[DefaultShippingAddress] [int] NULL,
	[DefaultBillingAddress] [int] NULL,
	[AddressPerson] [nvarchar](400) NULL,
	[AddressName] [nvarchar](400) NULL,
	[Address] [nvarchar](400) NULL,
	[City] [nvarchar](50) NULL,
	[Province] [nvarchar](40) NULL,
	[PostalCode] [nvarchar](40) NULL,
	[Country] [nvarchar](40) NULL,
	[Tel] [nvarchar](40) NULL,
	[Fax] [nvarchar](40) NULL,
	[DataStatus] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[Comment] [nvarchar](400) NULL,
 CONSTRAINT [PK_CustomerAddress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerDiscount]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDiscount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oCustomer] [int] NULL,
	[CustomerCode] [nvarchar](20) NULL,
	[oDiscountProgram] [int] NULL,
	[UsedCount] [int] NULL,
	[LastUsedDate] [datetime2](0) NULL,
	[LastUsedPONo] [nvarchar](20) NULL,
	[IsActive] [int] NULL,
	[DataStatus] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[PrevLastUsedDate] [datetime2](0) NULL,
	[PrevLastUsedPONo] [nvarchar](20) NULL,
 CONSTRAINT [PK_CustomerDiscount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerMemo]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMemo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oCustomer] [int] NULL,
	[CustomerCode] [nvarchar](20) NULL,
	[Memo] [nvarchar](800) NULL,
	[DataStatus] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
 CONSTRAINT [PK_CustomerMemo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiscountDecorator]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountDecorator](
	[ID] [int] NOT NULL,
	[oVAOrder] [int] NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[PONo] [nvarchar](20) NULL,
	[DiscountPercentage] [float] NULL,
	[RawAmount] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Remark] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[DataStatus] [nvarchar](20) NULL,
	[oDecoratedItem] [int] NULL,
	[oDiscount] [int] NULL,
	[DiscountType] [int] NULL,
	[Policy] [int] NULL,
	[bDecorated] [int] NULL,
	[oFromBackOrder] [int] NULL,
	[FromBONo] [nvarchar](20) NULL,
 CONSTRAINT [PK_DiscountDecorator] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiscountProductByAccount]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountProductByAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oDiscountProgram] [int] NULL,
	[DiscountName] [nvarchar](400) NULL,
	[oCustomerAccount] [int] NULL,
	[CustomerCode] [nvarchar](20) NULL,
	[CustomerName] [nvarchar](80) NULL,
	[ProductCode] [nvarchar](40) NULL,
	[ProductName] [nvarchar](400) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiscountProgram]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountProgram](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](400) NULL,
	[CouponCode] [nvarchar](40) NULL,
	[DiscountType] [int] NULL,
	[DiscountAmount] [float] NULL,
	[MinDifferentSKUs] [int] NULL,
	[MinimumSpend] [float] NULL,
	[MinimumQuantity] [float] NULL,
	[TargetSKUStrategy] [int] NULL,
	[DiscountAmountFirstOrder] [float] NULL,
	[MinDifferentSKUsFirstOrder] [int] NULL,
	[MinimumSpendFirstOrder] [float] NULL,
	[MinimumQuantityFirstOrder] [float] NULL,
	[TargetSKUStrategyFirstOrder] [int] NULL,
	[StartDate] [datetime2](0) NULL,
	[ExpiryDate] [datetime2](0) NULL,
	[TargetAccountMethod] [int] NULL,
	[TargetAccountExclude] [nvarchar](2000) NULL,
	[TargetProductMethod] [int] NULL,
	[TargetProductExclude] [nvarchar](2000) NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NULL,
	[LastUsedDate] [datetime2](0) NULL,
	[Comment] [nvarchar](400) NULL,
	[DataStatus] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[Deferred] [int] NULL,
 CONSTRAINT [PK_DiscountProgram] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiscountTargetAccount]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountTargetAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oDiscountProgram] [int] NULL,
	[DiscountName] [nvarchar](400) NULL,
	[oCustomerAccount] [int] NULL,
	[CustomerCode] [nvarchar](20) NULL,
	[CustomerName] [nvarchar](80) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiscountTargetProduct]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountTargetProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oDiscountProgram] [int] NULL,
	[DiscountName] [nvarchar](400) NULL,
	[ProductCode] [nvarchar](40) NULL,
	[ProductName] [nvarchar](400) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DistributorCommissionConfigure]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributorCommissionConfigure](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oDistributor] [int] NULL,
	[DistributorAccount] [nvarchar](40) NULL,
	[DistributorName] [nvarchar](400) NULL,
	[SalesRep] [nvarchar](400) NULL,
	[SalesRepAccount] [nvarchar](40) NULL,
	[CountryName] [nvarchar](30) NULL,
	[ProvinceID] [nvarchar](6) NOT NULL,
	[Rate] [float] NULL,
	[DataStatus] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
 CONSTRAINT [PK_DistributorCommissionConfigure1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DistributorSalesCommission]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributorSalesCommission](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](20) NOT NULL,
	[InvoiceDate] [datetime2](0) NULL,
	[AccountNO] [nvarchar](20) NULL,
	[SalesRep] [nvarchar](80) NULL,
	[Currency1] [nvarchar](4) NULL,
	[ExchangeRate] [float] NULL,
	[BillToName] [nvarchar](60) NULL,
	[NetSales] [decimal](18, 2) NULL,
	[Portion] [float] NULL,
	[SalesActivity] [decimal](18, 2) NULL,
	[CommissionRate] [float] NULL,
	[CommissionAmount] [decimal](18, 2) NULL,
	[IssuedMonth] [int] NULL,
	[DataStatus] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[OrderCategory] [nvarchar](40) NULL,
	[OriginalSalesActivity] [decimal](18, 2) NULL,
 CONSTRAINT [PK_DistributorSalesCommission] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DistributorSalesDetail]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributorSalesDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oDistributor] [int] NULL,
	[DistributorName] [nvarchar](400) NULL,
	[City] [nvarchar](50) NULL,
	[Province] [nvarchar](40) NULL,
	[OrdersDate] [datetime2](0) NULL,
	[OrderNumber] [nvarchar](40) NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductSKU] [nvarchar](16) NULL,
	[ProductName] [nvarchar](400) NOT NULL,
	[UPC] [nvarchar](40) NULL,
	[QuantitySold] [int] NULL,
	[MSRP] [decimal](18, 2) NULL,
	[CommissionMonth] [datetime2](0) NULL,
	[PriceRateForDistributor] [float] NULL,
	[DistributorPrice] [decimal](18, 2) NULL,
	[SalesActivity] [decimal](18, 2) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[SalesReps] [nvarchar](800) NULL,
	[SalesRepAccounts] [nvarchar](400) NULL,
	[NetSales] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EDI850PO1Loop]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDI850PO1Loop](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VAOrderID] [int] NULL,
	[VAPONo] [nvarchar](20) NULL,
	[ST_TransactionSetControlNumber_02] [nvarchar](40) NULL,
	[BEG_PurchaseOrderNumber_03] [nvarchar](40) NULL,
	[BEG_Date_05] [nvarchar](40) NULL,
	[PO1_AssignedIdentification_01] [nvarchar](40) NULL,
	[PO1_Quantity_02] [nvarchar](40) NULL,
	[PO1_UnitorBasisforMeasurementCode_03] [nvarchar](40) NULL,
	[PO1_UnitPrice_04] [nvarchar](40) NULL,
	[PO1_ProductServiceIDQualifier_06] [nvarchar](40) NULL,
	[PO1_ProductServiceID_07] [nvarchar](400) NULL,
	[PO1_ProductServiceIDQualifier_08] [nvarchar](40) NULL,
	[PO1_ProductServiceID_09] [nvarchar](400) NULL,
	[PID_ItemDescriptionType_01] [nvarchar](40) NULL,
	[PID_ProductProcessCharacteristicCode_02] [nvarchar](40) NULL,
	[PID_Description_05] [nvarchar](400) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedID] [nvarchar](400) NULL,
 CONSTRAINT [PK_EDI850PO1Loop] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EDIHLItem]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDIHLItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AS2LogID] [int] NULL,
	[PONo850] [nvarchar](200) NULL,
	[VAOrderID] [int] NULL,
	[VAPONo] [nvarchar](20) NULL,
	[GS1ShippingLabel] [int] NULL,
	[SSCC] [nvarchar](40) NULL,
	[TrackingNumber] [nvarchar](80) NULL,
	[OrderItemByLot] [int] NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[RetailLotNo] [nvarchar](12) NULL,
	[ExpiredDate] [datetime2](0) NULL,
	[ShippedQty] [int] NULL,
	[LIN01] [nvarchar](10) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedID] [nvarchar](40) NULL,
 CONSTRAINT [PK_EDIHLItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FinishProductApply]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinishProductApply](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplySequenceNumber] [int] NOT NULL,
	[ApplyCode] [nvarchar](20) NOT NULL,
	[SupplyCode] [nvarchar](16) NOT NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductName] [nvarchar](400) NOT NULL,
	[LotNumber] [nvarchar](50) NULL,
	[StockCountBottleBefore] [int] NULL,
	[ApplyCountBottle] [int] NULL,
	[StockCountBottleAfter] [int] NULL,
	[SalesPrice] [decimal](18, 2) NULL,
	[StockLocation] [nvarchar](400) NULL,
	[Status] [nvarchar](1) NULL,
	[CustomerID] [nvarchar](50) NULL,
	[ApplyID] [nvarchar](400) NULL,
	[ApplyDate] [datetime2](0) NULL,
	[MESProductCode] [nvarchar](40) NULL,
 CONSTRAINT [PK_FinishProductApply] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[FinishProductPrice]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinishProductPrice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductName] [nvarchar](80) NOT NULL,
	[StandardPrice] [money] NULL,
	[MSRPrice] [money] NULL,
	[EmployeePrice] [money] NULL,
	[USDPrice] [money] NULL,
	[USDExchangeRateFactor] [float] NULL,
	[UPC] [nvarchar](50) NULL,
	[Comment] [nvarchar](150) NULL,
	[DataStatus] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedTime] [nvarchar](30) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedTime] [nvarchar](30) NULL,
 CONSTRAINT [PK_FinishProductPrice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GS1ShippingLabel]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS1ShippingLabel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedID] [nvarchar](40) NULL,
	[AS2LogID] [int] NULL,
	[PONo850] [nvarchar](200) NULL,
	[VAOrderID] [int] NULL,
	[VAPONo] [nvarchar](20) NULL,
	[SSCC] [nvarchar](40) NULL,
	[GrossWeight] [float] NULL,
	[UnitOfMeasurement] [nvarchar](10) NULL,
	[CarrierCode] [nvarchar](20) NULL,
	[CarrierRouting] [nvarchar](40) NULL,
	[TrackingNumber] [nvarchar](80) NULL,
	[ShipToName] [nvarchar](400) NULL,
	[ShipToLocationNum] [nvarchar](40) NULL,
	[ShipToAddress1] [nvarchar](400) NULL,
	[ShipToAddress2] [nvarchar](400) NULL,
	[ShipToCityName] [nvarchar](400) NULL,
	[ShipToState] [nvarchar](400) NULL,
	[ShipToPostalCode] [nvarchar](40) NULL,
	[ShipToCountry] [nvarchar](400) NULL,
	[BillOfLading] [nvarchar](400) NULL,
	[CountOfPack] [int] NULL,
	[TotalOfPack] [int] NULL,
	[ItemCode] [nvarchar](400) NULL,
	[ItemDesc] [nvarchar](400) NULL,
	[QuanityPerCarton] [int] NULL,
 CONSTRAINT [PK_GS1ShippingLabel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JointAccountCommissionConfigure]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JointAccountCommissionConfigure](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JointAccountName] [nvarchar](400) NULL,
	[JointAccount] [nvarchar](40) NULL,
	[SalesRep] [nvarchar](400) NULL,
	[SalesRepAccount] [nvarchar](40) NULL,
	[Rate] [float] NULL,
	[DataStatus] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
 CONSTRAINT [PK_JointAccountCommissionConfigure] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MCOrderItem]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCOrderItem](
	[ID] [int] NOT NULL,
	[oVAOrder] [int] NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[PONo] [nvarchar](20) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Unit] [nvarchar](40) NULL,
	[OrderQty] [float] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Remark] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[DataStatus] [nvarchar](20) NULL,
	[Weight] [float] NULL,
	[NameOnInvoice] [nvarchar](400) NULL,
	[CodeOnInvoice] [nvarchar](40) NULL,
	[oFromBackOrder] [int] NULL,
	[FromBONo] [nvarchar](20) NULL,
 CONSTRAINT [PK_MCOrderItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MCProduct]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Unit] [nvarchar](40) NULL,
	[Remark] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[DataStatus] [nvarchar](20) NULL,
	[Weight] [float] NULL,
 CONSTRAINT [PK_MCProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OptionDiscountDecorator]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionDiscountDecorator](
	[ID] [int] NOT NULL,
	[oVAOrder] [int] NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[PONo] [nvarchar](20) NULL,
	[DiscountPercentage] [float] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Remark] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[DataStatus] [nvarchar](20) NULL,
	[oDecoratedItem] [int] NULL,
	[oDiscount] [int] NULL,
	[DiscountType] [int] NULL,
	[bByMaxDiscount] [int] NULL,
	[Policy] [int] NULL,
	[bDecorated] [int] NULL,
	[oFromBackOrder] [int] NULL,
	[FromBONo] [nvarchar](20) NULL,
 CONSTRAINT [PK_OptionDiscountDecorator] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[ID] [int] NOT NULL,
	[oVAOrder] [int] NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[PONo] [nvarchar](20) NULL,
	[Amount] [decimal](18, 0) NULL,
	[Remark] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[DataStatus] [nvarchar](20) NULL,
	[LIN01] [nvarchar](10) NULL,
	[oFromBackOrder] [int] NULL,
	[FromBONo] [nvarchar](20) NULL,
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderNoControl]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderNoControl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VendorCode] [nvarchar](40) NOT NULL,
	[Year] [int] NOT NULL,
	[SerierNo] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentTerm]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTerm](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DaysDue] [int] NULL,
	[EarlyPaymentDiscounts] [float] NULL,
	[EarlyPaymentPeriod] [int] NULL,
	[DataStatus] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
 CONSTRAINT [PK_PaymentTerm] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POSInvoice]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSInvoice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](20) NOT NULL,
	[InvoiceDate] [datetime2](0) NULL,
	[AccountNO] [nvarchar](20) NULL,
	[PurchaseNO] [nvarchar](20) NULL,
	[PaymentTerm] [nvarchar](400) NULL,
	[DueDate] [datetime2](0) NULL,
	[SalesRep] [nvarchar](400) NULL,
	[CustomerRep] [nvarchar](400) NULL,
	[ShippedVia] [nvarchar](400) NULL,
	[FOB] [nvarchar](400) NULL,
	[Currency1] [nvarchar](40) NULL,
	[ExchangeRate] [float] NULL,
	[ShipHandling] [money] NULL,
	[Tax] [nvarchar](20) NULL,
	[GST] [float] NULL,
	[PST] [float] NULL,
	[HST] [float] NULL,
	[BillToName] [nvarchar](400) NULL,
	[BillToAddress] [nvarchar](400) NULL,
	[BillToCityPostCode] [nvarchar](60) NULL,
	[BillToCity] [nvarchar](80) NULL,
	[BillToProvince] [nvarchar](80) NULL,
	[BillToPostCode] [nvarchar](40) NULL,
	[BillToCountry] [nvarchar](80) NULL,
	[BillToTel] [nvarchar](40) NULL,
	[BillToFax] [nvarchar](40) NULL,
	[BillToPerson] [nvarchar](400) NULL,
	[ShipToName] [nvarchar](400) NULL,
	[ShipToAddress] [nvarchar](400) NULL,
	[ShipToCityPostCode] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](80) NULL,
	[ShipToProvince] [nvarchar](80) NULL,
	[ShipToPostCode] [nvarchar](40) NULL,
	[ShipToCountry] [nvarchar](80) NULL,
	[ShipToTel] [nvarchar](40) NULL,
	[ShipToFax] [nvarchar](40) NULL,
	[ShipToPerson] [nvarchar](400) NULL,
	[Status] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedTime] [nvarchar](30) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedTime] [nvarchar](30) NULL,
	[InvoiceMsg1] [nvarchar](80) NULL,
	[InvoiceMsg2] [nvarchar](80) NULL,
	[InvoiceMsg3] [nvarchar](80) NULL,
	[InvoiceMsg4] [nvarchar](80) NULL,
	[InvoiceMsg5] [nvarchar](80) NULL,
	[InvoiceMsg6] [nvarchar](80) NULL,
	[InvoiceMsg7] [nvarchar](80) NULL,
	[InvoiceMsg8] [nvarchar](80) NULL,
	[Comment] [nvarchar](400) NULL,
	[PackingMsg1] [nvarchar](80) NULL,
	[PackingMsg2] [nvarchar](80) NULL,
	[PackingMsg3] [nvarchar](80) NULL,
	[Adjustment] [money] NULL,
	[AdjustmentTax] [nvarchar](2) NULL,
	[AdjustmentGST] [float] NULL,
	[AdjustmentPST] [float] NULL,
	[AdjustmentHST] [float] NULL,
	[DiscountRate] [float] NULL,
	[InvoiceDate2] [datetime2](0) NULL,
	[DueDate2] [datetime2](0) NULL,
	[PaymentType] [nvarchar](16) NULL,
	[FOBLabel] [nvarchar](16) NULL,
	[NetSales] [decimal](18, 2) NULL,
	[SubTotal] [decimal](18, 2) NULL,
	[SalesActivity] [decimal](18, 2) NULL,
	[TaxTitle] [nvarchar](400) NULL,
	[TaxRate] [float] NULL,
	[dTaxAmount] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[dExtraAdjustment] [decimal](18, 2) NULL,
	[DueBalance] [decimal](18, 2) NULL,
	[ExtraAdjustmentTitle] [nvarchar](400) NULL,
	[ExtraAdjustmentAmount] [decimal](18, 2) NULL,
	[CustomerPONo] [nvarchar](40) NULL,
 CONSTRAINT [PK_POSInvoice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POSInvoiceDetail]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSInvoiceDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceSequenceNumber] [int] NOT NULL,
	[InvoiceNO] [nvarchar](20) NULL,
	[AccountNO] [nvarchar](20) NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductName] [nvarchar](80) NOT NULL,
	[CountOrder] [float] NULL,
	[CountShipped] [float] NULL,
	[CountUnit] [nvarchar](10) NULL,
	[UnitPrice] [money] NULL,
	[Discount] [float] NULL,
	[Tax] [nvarchar](2) NULL,
	[GST] [float] NULL,
	[PST] [float] NULL,
	[HST] [float] NULL,
	[PackingListNO] [smallint] NULL,
	[Status] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedTime] [nvarchar](30) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedTime] [nvarchar](30) NULL,
	[Comment] [nvarchar](60) NULL,
	[UnitPriceFromCode] [money] NULL,
	[UPC] [nvarchar](50) NULL,
	[LotNumber] [nvarchar](400) NULL,
	[NetSales] [decimal](18, 2) NULL,
	[oInvoice] [int] NULL,
	[MESProductCode] [nvarchar](40) NULL,
	[SalesActivity] [decimal](18, 2) NULL,
	[CostOfGoodsSold] [decimal](18, 2) NULL,
 CONSTRAINT [POSInvoiceDetail$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POSInvoiceDetailBackOrder]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSInvoiceDetailBackOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceSequenceNumber] [int] NOT NULL,
	[InvoiceNO] [nvarchar](20) NULL,
	[AccountNO] [nvarchar](20) NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductName] [nvarchar](80) NOT NULL,
	[CountOrder] [float] NULL,
	[CountShipped] [float] NULL,
	[CountUnit] [nvarchar](10) NULL,
	[UnitPrice] [money] NULL,
	[Discount] [float] NULL,
	[Tax] [nvarchar](2) NULL,
	[GST] [float] NULL,
	[PST] [float] NULL,
	[HST] [float] NULL,
	[PackingListNO] [smallint] NULL,
	[Status] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedTime] [nvarchar](30) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedTime] [nvarchar](30) NULL,
	[Comment] [nvarchar](60) NULL,
	[CustomerDiscount] [float] NULL,
	[MESProductCode] [nvarchar](40) NULL,
 CONSTRAINT [POSInvoiceDetailBackOrder$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesCommission]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesCommission](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](20) NOT NULL,
	[InvoiceDate] [datetime2](0) NULL,
	[AccountNO] [nvarchar](20) NULL,
	[OrderIdxNo] [int] NULL,
	[SalesRep] [nvarchar](80) NULL,
	[Currency1] [nvarchar](4) NULL,
	[ExchangeRate] [float] NULL,
	[BillToName] [nvarchar](60) NULL,
	[NetSales] [decimal](18, 2) NULL,
	[Adjustment] [money] NULL,
	[SalesActivity] [decimal](18, 2) NULL,
	[CommissionRate] [float] NULL,
	[CommissionAmount] [decimal](18, 2) NULL,
	[IssuedMonth] [int] NULL,
	[DataStatus] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[InheritFrom] [nvarchar](80) NULL,
	[Portion] [float] NULL,
	[OriginalSalesActivity] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SalesCommission] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesCommissionConfig]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesCommissionConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpAccount] [nvarchar](40) NULL,
	[ShortName] [nvarchar](200) NULL,
	[ContractYear] [int] NULL,
	[FullCommissionThreshold] [float] NULL,
	[FullRateOfFirstOrder] [float] NULL,
	[FullRateOfSecondOrder] [float] NULL,
	[FullRateOfOtherOrder] [float] NULL,
	[LowerRateOfFirstOrder] [float] NULL,
	[LowerRateOfSecondOrder] [float] NULL,
	[LowerRateOfOtherOrder] [float] NULL,
	[Quota1] [decimal](18, 2) NULL,
	[Quota2] [decimal](18, 2) NULL,
	[Quota3] [decimal](18, 2) NULL,
	[Quota4] [decimal](18, 2) NULL,
	[Quota5] [decimal](18, 2) NULL,
	[Quota6] [decimal](18, 2) NULL,
	[Quota7] [decimal](18, 2) NULL,
	[Quota8] [decimal](18, 2) NULL,
	[Quota9] [decimal](18, 2) NULL,
	[Quota10] [decimal](18, 2) NULL,
	[Quota11] [decimal](18, 2) NULL,
	[Quota12] [decimal](18, 2) NULL,
	[DataStatus] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
 CONSTRAINT [PK_SalesCommissionConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShippingPolicy]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingPolicy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyName] [nvarchar](400) NULL,
	[ParameterName] [nvarchar](400) NULL,
	[ParameterValue] [float] NULL,
	[DataStatus] [nvarchar](1) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[ParameterStringValue] [nvarchar](400) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MISSysParameter]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISSysParameter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AppName] [nvarchar](40) NULL,
	[ConfigCategory] [nvarchar](40) NULL,
	[ConfigName] [nvarchar](40) NULL,
	[ConfigVal1] [float] NULL,
	[ConfigVal2] [nvarchar](4000) NULL,
 CONSTRAINT [PK__SysParam__3214EC27FBB7322E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TraidingPartnerConfig]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraidingPartnerConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VENDOR_NUMBER] [nvarchar](40) NULL,
	[EDI_QUALIFIER] [nvarchar](40) NULL,
	[EDI_ISA_ID] [nvarchar](80) NULL,
	[EDI_GS_ID] [nvarchar](80) NULL,
	[INTERCHANGE_STANDARDS_ID] [nvarchar](40) NULL,
	[INTERCHANGE_VERSION_ID] [nvarchar](40) NULL,
	[ACT_REQUESTED] [nvarchar](10) NULL,
	[USAGE_INDICATOR] [nvarchar](10) NULL,
	[ISA_CONTROL_NUM] [nvarchar](20) NULL,
	[GS_CONTROL_NUM] [nvarchar](20) NULL,
	[ST_CONTROL_NUM] [nvarchar](20) NULL,
 CONSTRAINT [PK_TraidingPartnerConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAGiftCard]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAGiftCard](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Balance] [decimal](18, 2) NULL,
	[StartDate] [datetime2](0) NULL,
	[ExpiryDate] [datetime2](0) NULL,
	[Valid] [int] NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NULL,
	[LastUsedDate] [datetime2](0) NULL,
	[LastUsedNote] [nvarchar](400) NULL,
	[Comment] [nvarchar](400) NULL,
	[AccountNo] [nvarchar](20) NULL,
	[DataStatus] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
 CONSTRAINT [PK_VAGiftCard] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAGiftItem]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAGiftItem](
	[ID] [int] NOT NULL,
	[oVAOrder] [int] NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[PONo] [nvarchar](20) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Unit] [nvarchar](40) NULL,
	[OrderQty] [float] NULL,
	[DiscountPercentage] [float] NULL,
	[RawAmount] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Remark] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
	[DataStatus] [nvarchar](20) NULL,
	[StandardPrice] [decimal](18, 2) NULL,
	[MSRPrice] [decimal](18, 2) NULL,
	[EmployeePrice] [decimal](18, 2) NULL,
	[oDiscount] [int] NULL,
	[bDecorated] [int] NULL,
	[oOwnerItem] [int] NULL,
	[ShipQty] [float] NULL,
	[ExpiredDate] [datetime2](0) NULL,
	[Weight] [float] NULL,
	[StockLocation] [nvarchar](400) NULL,
	[RetailLotNo] [nvarchar](12) NULL,
	[StockCountSnapShot] [int] NULL,
	[NameOnInvoice] [nvarchar](400) NULL,
	[CodeOnInvoice] [nvarchar](40) NULL,
	[USDPrice] [decimal](18, 2) NULL,
	[TemperatureSensitive] [int] NULL,
	[MESProductCode] [nvarchar](40) NULL,
	[LIN01] [nvarchar](10) NULL,
	[oFromBackOrder] [int] NULL,
	[FromBONo] [nvarchar](20) NULL,
 CONSTRAINT [PK_VAGiftItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAOrder]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PONo] [nvarchar](20) NULL,
	[OrderDate] [datetime2](0) NULL,
	[AccountNo] [nvarchar](20) NULL,
	[PaymentTerm] [nvarchar](400) NULL,
	[PaymentType] [nvarchar](200) NULL,
	[DueDate] [datetime2](0) NULL,
	[ShippingMethod] [nvarchar](400) NULL,
	[Currency] [nvarchar](40) NULL,
	[NetSales] [decimal](18, 2) NULL,
	[dAdjustmentDiscount] [float] NULL,
	[Adjustment] [decimal](18, 2) NULL,
	[ShippingFee] [decimal](18, 2) NULL,
	[SubTotal] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[InvoiceDate] [datetime2](0) NULL,
	[Comment] [nvarchar](4000) NULL,
	[Status] [nvarchar](40) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedUser] [nvarchar](200) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedUser] [nvarchar](200) NULL,
	[SalesRep] [nvarchar](400) NULL,
	[TitleBill] [nvarchar](400) NULL,
	[CompanyNameBill] [nvarchar](400) NULL,
	[AddrBill] [nvarchar](400) NULL,
	[CityBill] [nvarchar](80) NULL,
	[ProvinceBill] [nvarchar](80) NULL,
	[ZipCodeBill] [nvarchar](40) NULL,
	[CountryBill] [nvarchar](80) NULL,
	[TelBill] [nvarchar](40) NULL,
	[TitleShip] [nvarchar](400) NULL,
	[CompanyNameShip] [nvarchar](400) NULL,
	[AddrShip] [nvarchar](400) NULL,
	[CityShip] [nvarchar](80) NULL,
	[ProvinceShip] [nvarchar](80) NULL,
	[ZipCodeShip] [nvarchar](40) NULL,
	[CountryShip] [nvarchar](80) NULL,
	[TelShip] [nvarchar](40) NULL,
	[Email] [nvarchar](400) NULL,
	[TaxTitle] [nvarchar](400) NULL,
	[TaxRate] [float] NULL,
	[dTaxAmount] [decimal](18, 2) NULL,
	[dAdjustmentDiscountPercentage] [decimal](18, 2) NULL,
	[oAccount] [int] NULL,
	[InvoiceNo] [nvarchar](20) NULL,
	[ExchangeRate] [float] NULL,
	[TaxChar] [nvarchar](2) NULL,
	[CouponCode] [nvarchar](40) NULL,
	[CustomerPONo] [nvarchar](40) NULL,
	[SendEmailStatus] [nvarchar](400) NULL,
	[AppliedDate] [datetime2](0) NULL,
	[SalesActivity] [decimal](18, 2) NULL,
	[dTotalByEarlyPayment] [decimal](18, 2) NULL,
	[ConfirmShipping] [int] NULL,
	[ShippingByRefriderator] [int] NULL,
	[dExtraAdjustment] [decimal](18, 2) NULL,
	[ExtraAdjustmentType] [int] NULL,
	[oBillingAddress] [int] NULL,
	[oShippingAddress] [int] NULL,
	[DueBalance] [decimal](18, 2) NULL,
	[PONo850] [nvarchar](200) NULL,
	[CreatedID] [nvarchar](200) NULL,
	[UpdatedID] [nvarchar](200) NULL,
 CONSTRAINT [PK_VAOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAOrderItem]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAOrderItem](
	[ID] [int] NOT NULL,
	[oVAOrder] [int] NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[PONo] [nvarchar](20) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Unit] [nvarchar](40) NULL,
	[OrderQty] [float] NULL,
	[RawAmount] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Remark] [nvarchar](400) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](200) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](200) NULL,
	[DataStatus] [nvarchar](20) NULL,
	[StandardPrice] [decimal](18, 2) NULL,
	[MSRPrice] [decimal](18, 2) NULL,
	[EmployeePrice] [decimal](18, 2) NULL,
	[bDecorated] [int] NULL,
	[ShipQty] [float] NULL,
	[ExpiredDate] [datetime2](0) NULL,
	[Weight] [float] NULL,
	[StockLocation] [nvarchar](400) NULL,
	[RetailLotNo] [nvarchar](12) NULL,
	[StockCountSnapShot] [int] NULL,
	[BackorderQty] [float] NULL,
	[NameOnInvoice] [nvarchar](400) NULL,
	[CodeOnInvoice] [nvarchar](40) NULL,
	[USDPrice] [decimal](18, 2) NULL,
	[TemperatureSensitive] [int] NULL,
	[MESProductCode] [nvarchar](40) NULL,
	[LIN01] [nvarchar](10) NULL,
	[oFromBackOrder] [int] NULL,
	[FromBONo] [nvarchar](20) NULL,
 CONSTRAINT [PK_VAOrderItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAOrderItemByLot]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAOrderItemByLot](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oVAOrder] [int] NULL,
	[oItemOwner] [int] NULL,
	[Name] [nvarchar](400) NULL,
	[Code] [nvarchar](40) NULL,
	[PONo] [nvarchar](20) NULL,
	[OrderQty] [float] NULL,
	[ShipQty] [float] NULL,
	[StockLocation] [nvarchar](400) NULL,
	[RetailLotNo] [nvarchar](12) NULL,
	[StockCountSnapShot] [int] NULL,
	[ExpiredDate] [datetime2](0) NULL,
	[SupplyCode] [nvarchar](16) NULL,
	[MESProductCode] [nvarchar](40) NULL,
 CONSTRAINT [PK_VAOrderItemByLot] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAPayment]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAPayment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[oInvoice] [int] NULL,
	[InvoiceNo] [nvarchar](20) NOT NULL,
	[InvoiceDate] [datetime2](0) NULL,
	[AccountNO] [nvarchar](20) NULL,
	[InvoiceTotalAmount] [decimal](18, 2) NULL,
	[DueBalanceBeforePaying] [decimal](18, 2) NULL,
	[PayAmount] [decimal](18, 2) NULL,
	[Currency] [nvarchar](40) NULL,
	[ExchangeRate] [float] NULL,
	[PaymentType] [nvarchar](16) NULL,
	[PaymentNote] [nvarchar](400) NULL,
	[DueBalance] [decimal](18, 2) NULL,
	[DataStatus] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[CreatedID] [nvarchar](40) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedID] [nvarchar](40) NULL,
 CONSTRAINT [PK_VAPayment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VitaAidFinishProduct]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VitaAidFinishProduct](
	[ID] [int] NOT NULL,
	[SupplyCode] [nvarchar](16) NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductName] [nvarchar](400) NOT NULL,
	[RetailLotNo] [nvarchar](12) NULL,
	[FabLotNo] [nvarchar](10) NULL,
	[MESProductCode] [nvarchar](40) NULL,
	[FormulationCode] [nvarchar](40) NULL,
	[Supplier] [nvarchar](40) NULL,
	[Servings] [int] NULL,
	[StockCount] [int] NULL,
	[SupplyCount] [int] NULL,
	[ExpiredDate] [datetime2](0) NULL,
	[StockLocation] [nvarchar](10) NULL,
	[LabelVersion] [nvarchar](40) NULL,
	[oParentProduct] [int] NULL,
	[Status] [nvarchar](40) NULL,
	[Comment] [nvarchar](800) NULL,
	[CreatedUser] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedUser] [nvarchar](200) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[StockLastYear] [int] NULL,
	[ClosedDate] [datetime2](0) NULL,
	[ReservedCount] [int] NULL,
	[IsSample] [int] NULL,
	[IsRelabel] [int] NULL,
	[GramWeightPerBottle] [float] NULL,
	[Salable] [int] NULL,
	[GroupCode] [nvarchar](13) NULL,
	[StdWtPerUnit] [float] NULL,
	[IsOEM] [int] NULL,
	[ReleasedDate] [datetime2](0) NULL,
	[ReleasedUser] [nvarchar](200) NULL,
	[InitSupplyCount] [int] NULL,
	[CreatedID] [nvarchar](200) NULL,
	[UpdatedID] [nvarchar](200) NULL,
	[ReleasedID] [nvarchar](200) NULL,
	[DataStatus] [nvarchar](1) NULL,
	[UnitCost] [decimal](18, 2) NULL,
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[VitaAidFinishProductSNAP]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VitaAidFinishProductSNAP](
	[ID] [int] NOT NULL,
	[SupplyCode] [nvarchar](16) NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductName] [nvarchar](400) NOT NULL,
	[RetailLotNo] [nvarchar](12) NULL,
	[FabLotNo] [nvarchar](10) NULL,
	[MESProductCode] [nvarchar](40) NULL,
	[FormulationCode] [nvarchar](40) NULL,
	[Supplier] [nvarchar](40) NULL,
	[Servings] [int] NULL,
	[StockCount] [int] NULL,
	[SupplyCount] [int] NULL,
	[ExpiredDate] [datetime2](0) NULL,
	[StockLocation] [nvarchar](10) NULL,
	[LabelVersion] [nvarchar](40) NULL,
	[oParentProduct] [int] NULL,
	[Status] [nvarchar](40) NULL,
	[Comment] [nvarchar](800) NULL,
	[CreatedUser] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedUser] [nvarchar](200) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[StockLastYear] [int] NULL,
	[ClosedDate] [datetime2](0) NULL,
	[ReservedCount] [int] NULL,
	[IsSample] [int] NULL,
	[IsRelabel] [int] NULL,
	[GramWeightPerBottle] [float] NULL,
	[Salable] [int] NULL,
	[GroupCode] [nvarchar](13) NULL,
	[StdWtPerUnit] [float] NULL,
	[IsOEM] [int] NULL,
	[ReleasedDate] [datetime2](0) NULL,
	[ReleasedUser] [nvarchar](200) NULL,
	[InitSupplyCount] [int] NULL,
	[CreatedID] [nvarchar](200) NULL,
	[UpdatedID] [nvarchar](200) NULL,
	[ReleasedID] [nvarchar](200) NULL,
	[DataStatus] [nvarchar](1) NULL,
	[UnitCost] [decimal](18, 2) NULL,
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VitaAidFinishProductLog]    Script Date: 12/23/2020 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VitaAidFinishProductLog](
	[ID] [int] NOT NULL,
	[SupplyCode] [nvarchar](16) NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductName] [nvarchar](400) NOT NULL,
	[RetailLotNo] [nvarchar](12) NULL,
	[FabLotNo] [nvarchar](10) NULL,
	[MESProductCode] [nvarchar](40) NULL,
	[FormulationCode] [nvarchar](40) NULL,
	[Supplier] [nvarchar](40) NULL,
	[Servings] [int] NULL,
	[StockCount] [int] NULL,
	[SupplyCount] [int] NULL,
	[ExpiredDate] [datetime2](0) NULL,
	[StockLocation] [nvarchar](10) NULL,
	[LabelVersion] [nvarchar](40) NULL,
	[oParentProduct] [int] NULL,
	[Status] [nvarchar](40) NULL,
	[Comment] [nvarchar](800) NULL,
	[CreatedUser] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedUser] [nvarchar](200) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[StockLastYear] [int] NULL,
	[ClosedDate] [datetime2](0) NULL,
	[ReservedCount] [int] NULL,
	[IsSample] [int] NULL,
	[IsRelabel] [int] NULL,
	[GramWeightPerBottle] [float] NULL,
	[Salable] [int] NULL,
	[GroupCode] [nvarchar](13) NULL,
	[StdWtPerUnit] [float] NULL,
	[IsOEM] [int] NULL,
	[ReleasedDate] [datetime2](0) NULL,
	[ReleasedUser] [nvarchar](200) NULL,
	[InitSupplyCount] [int] NULL,
	[CreatedID] [nvarchar](200) NULL,
	[UpdatedID] [nvarchar](200) NULL,
	[ReleasedID] [nvarchar](200) NULL,
	[DataStatus] [nvarchar](1) NULL,
	[UnitCost] [decimal](18, 2) NULL,
	[LogID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_VitaAidFinishProductLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[VitaAidFinishProductLog] ADD  CONSTRAINT [DF_VitaAidFinishProductLog_Salable]  DEFAULT ((1)) FOR [Salable]
GO





/****** Object:  Table [dbo].[VitaAidSemiProduct]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VitaAidSemiProduct](
	[ID] [int] NOT NULL,
	[SupplyCode] [nvarchar](16) NOT NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductName] [nvarchar](400) NOT NULL,
	[RetailLotNo] [nvarchar](12) NULL,
	[FabLotNo] [nvarchar](10) NULL,
	[MESProductCode] [nvarchar](40) NULL,
	[FormulationCode] [nvarchar](40) NULL,
	[Supplier] [nvarchar](40) NULL,
	[Servings] [int] NULL,
	[StockCount] [int] NULL,
	[SupplyCount] [int] NULL,
	[ExpiredDate] [datetime2](0) NULL,
	[StockLocation] [nvarchar](10) NULL,
	[LabelVersion] [nvarchar](40) NULL,
	[oParentProduct] [int] NULL,
	[Status] [nvarchar](40) NULL,
	[Comment] [nvarchar](800) NULL,
	[CreatedUser] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedUser] [nvarchar](200) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[StockLastYear] [int] NULL,
	[ClosedDate] [datetime2](0) NULL,
	[StockWeight] [int] NULL,
	[SupplyWeight] [float] NULL,
	[GroupCode] [nvarchar](13) NULL,
	[StdWtPerUnit] [float] NULL,
	[IsOEM] [int] NULL,
	[InitSupplyCount] [int] NULL,
	[CreatedID] [nvarchar](200) NULL,
	[UpdatedID] [nvarchar](200) NULL,
	[DataStatus] [nvarchar](1) NULL,
	[UnitCost] [decimal](18, 2) NULL,
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VitaAidSemiProductSNAP]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VitaAidSemiProductSNAP](
	[ID] [int] NOT NULL,
	[SupplyCode] [nvarchar](16) NOT NULL,
	[ProductCode] [nvarchar](16) NOT NULL,
	[ProductName] [nvarchar](400) NOT NULL,
	[RetailLotNo] [nvarchar](12) NULL,
	[FabLotNo] [nvarchar](10) NULL,
	[MESProductCode] [nvarchar](40) NULL,
	[FormulationCode] [nvarchar](40) NULL,
	[Supplier] [nvarchar](40) NULL,
	[Servings] [int] NULL,
	[StockCount] [int] NULL,
	[SupplyCount] [int] NULL,
	[ExpiredDate] [datetime2](0) NULL,
	[StockLocation] [nvarchar](10) NULL,
	[LabelVersion] [nvarchar](40) NULL,
	[oParentProduct] [int] NULL,
	[Status] [nvarchar](40) NULL,
	[Comment] [nvarchar](800) NULL,
	[CreatedUser] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](0) NULL,
	[UpdatedUser] [nvarchar](200) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[StockLastYear] [int] NULL,
	[ClosedDate] [datetime2](0) NULL,
	[StockWeight] [int] NULL,
	[SupplyWeight] [float] NULL,
	[GroupCode] [nvarchar](13) NULL,
	[StdWtPerUnit] [float] NULL,
	[IsOEM] [int] NULL,
	[InitSupplyCount] [int] NULL,
	[CreatedID] [nvarchar](200) NULL,
	[UpdatedID] [nvarchar](200) NULL,
	[DataStatus] [nvarchar](1) NULL,
	[UnitCost] [decimal](18, 2) NULL,
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VAOrder_ItemName]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VAOrder_ItemName]
AS
SELECT        o.ID, o.PONo, credit.Name
FROM            dbo.VAOrder AS o INNER JOIN
                         dbo.CreditOrderItem AS credit ON o.ID = credit.oVAOrder
UNION ALL
SELECT        o.ID, o.PONo, mc.Name
FROM            dbo.VAOrder AS o INNER JOIN
                         dbo.MCOrderItem AS mc ON o.ID = mc.oVAOrder
UNION ALL
SELECT        o.ID, o.PONo, gift.Name
FROM            dbo.VAOrder AS o INNER JOIN
                         dbo.VAGiftItem AS gift ON o.ID = gift.oVAOrder
UNION ALL
SELECT        o.ID, o.PONo, item.Name
FROM            dbo.VAOrder AS o INNER JOIN
                         dbo.VAOrderItem AS item ON o.ID = item.oVAOrder

GO
/****** Object:  View [dbo].[VAOrder_ItemCount]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VAOrder_ItemCount]
AS
SELECT        ID, PONo, COUNT(Name) AS ItemCount
FROM            dbo.VAOrder_ItemName AS x
GROUP BY ID, PONo

GO
/****** Object:  View [dbo].[SupplyCode_v]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SupplyCode_v]
AS
select id, SupplyCode, 'F' as sType 
from VitaAidFinishProduct 
union 
select id, SupplyCode, 'S' as sType
from VitaAidSemiProduct 



GO
/****** Object:  View [dbo].[VitaAidQuarantine_v]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VitaAidQuarantine_v]
AS
SELECT        [ID], [SupplyCode], [ProductCode], [ProductName], [RetailLotNo], [FabLotNo], [MESProductCode], [FormulationCode], [Servings], [StockCount], [SupplyCount], [ExpiredDate], [StockLocation], [LabelVersion], [oParentProduct], 
                         [Status], [Comment], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate], [GroupCode], [StockLastYear], [ClosedDate], [StdWtPerUnit], [IsOEM], IsSample, InitSupplyCount, [DataStatus], [UnitCost]
FROM            dbo.VitaAidFinishProduct
WHERE        (Status = N'QUARANTINE')
UNION
SELECT        [ID], [SupplyCode], [ProductCode], [ProductName], [RetailLotNo], [FabLotNo], [MESProductCode], [FormulationCode], [Servings], [StockCount], [SupplyCount], [ExpiredDate], [StockLocation], [LabelVersion], [oParentProduct], 
                         [Status], [Comment], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate], [GroupCode], [StockLastYear], [ClosedDate], [StdWtPerUnit], [IsOEM], 0 AS IsSample, InitSupplyCount, [DataStatus], [UnitCost]
FROM            dbo.VitaAidSemiProduct
WHERE        (Status = N'QUARANTINE')

GO
/****** Object:  View [dbo].[VitaAidQuarantineSNAP_v]    Script Date: 11/17/2020 4:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VitaAidQuarantineSNAP_v]
AS
SELECT        [ID], [SupplyCode], [ProductCode], [ProductName], [RetailLotNo], [FabLotNo], [MESProductCode], [FormulationCode], [Servings], [StockCount], [SupplyCount], [ExpiredDate], [StockLocation], [LabelVersion], [oParentProduct], 
                         [Status], [Comment], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate], [GroupCode], [StockLastYear], [ClosedDate], [StdWtPerUnit], [IsOEM], IsSample, InitSupplyCount, [DataStatus], [UnitCost]
FROM            dbo.VitaAidFinishProductSNAP
WHERE        (Status = N'QUARANTINE')
UNION
SELECT        [ID], [SupplyCode], [ProductCode], [ProductName], [RetailLotNo], [FabLotNo], [MESProductCode], [FormulationCode], [Servings], [StockCount], [SupplyCount], [ExpiredDate], [StockLocation], [LabelVersion], [oParentProduct], 
                         [Status], [Comment], [CreatedUser], [CreatedDate], [UpdatedUser], [UpdatedDate], [GroupCode], [StockLastYear], [ClosedDate], [StdWtPerUnit], [IsOEM], 0 AS IsSample, InitSupplyCount, [DataStatus], [UnitCost]
FROM            dbo.VitaAidSemiProductSNAP
WHERE        (Status = N'QUARANTINE')

GO
ALTER TABLE [dbo].[AppliedCustomerDiscount] ADD  CONSTRAINT [DF_AppliedCustomerDiscount_UsedCount]  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[AppliedCustomerDiscount] ADD  CONSTRAINT [DF_AppliedCustomerDiscount_Active]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AppliedCustomerDiscount] ADD  CONSTRAINT [DF_AppliedCustomerDiscount_bQualifyByMinDiffSKUs]  DEFAULT ((0)) FOR [bMeetCARTCondition]
GO
ALTER TABLE [dbo].[AppliedCustomerDiscount] ADD  CONSTRAINT [DF_AppliedCustomerDiscount_bApplied]  DEFAULT ((1)) FOR [bApplied]
GO
ALTER TABLE [dbo].[CustomerAccount] ADD  CONSTRAINT [DF_CustomerAccount_IsActive_1]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomerAccount] ADD  CONSTRAINT [DF_CustomerAccount_PricePolicy]  DEFAULT ((0)) FOR [PricePolicy]
GO
ALTER TABLE [dbo].[CustomerAccount] ADD  CONSTRAINT [DF_CustomerAccount_OrderCount_1]  DEFAULT ((0)) FOR [OrderCount]
GO
ALTER TABLE [dbo].[CustomerAccount] ADD  CONSTRAINT [DF_CustomerAccount_AutoCommission_1]  DEFAULT ((1)) FOR [AutoCommission]
GO
ALTER TABLE [dbo].[CustomerAccount] ADD  CONSTRAINT [DF_CustomerAccount_DisplayLotNo]  DEFAULT ((0)) FOR [DisplayLotNo]
GO
ALTER TABLE [dbo].[CustomerAccount] ADD  CONSTRAINT [DF_CustomerAccount_bDistributor_1]  DEFAULT ((0)) FOR [bDistributor]
GO
ALTER TABLE [dbo].[CustomerAccount] ADD  CONSTRAINT [DF_CustomerAccount_PriceRateForDistributor]  DEFAULT ((1)) FOR [PriceRateForDistributor]
GO
ALTER TABLE [dbo].[CustomerAddress] ADD  CONSTRAINT [DF_CustomerAddress_DefaultShippingAddress]  DEFAULT ((0)) FOR [DefaultShippingAddress]
GO
ALTER TABLE [dbo].[CustomerAddress] ADD  CONSTRAINT [DF_CustomerAddress_DefaultBillingAddress]  DEFAULT ((0)) FOR [DefaultBillingAddress]
GO
ALTER TABLE [dbo].[CustomerDiscount] ADD  CONSTRAINT [DF_CustomerDiscount_UsedCount]  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[CustomerDiscount] ADD  CONSTRAINT [DF_CustomerDiscount_Active]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DiscountDecorator] ADD  CONSTRAINT [DF_DiscountDecorator_Policy]  DEFAULT ((0)) FOR [Policy]
GO
ALTER TABLE [dbo].[DiscountDecorator] ADD  CONSTRAINT [DF_DiscountDecorator_bDecorated]  DEFAULT ((0)) FOR [bDecorated]
GO
ALTER TABLE [dbo].[DiscountProgram] ADD  CONSTRAINT [DF_DiscountProgram_UsedCount]  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[DiscountProgram] ADD  CONSTRAINT [DF_DiscountProgram_Status]  DEFAULT ('A') FOR [DataStatus]
GO
ALTER TABLE [dbo].[DiscountProgram] ADD  CONSTRAINT [DF_DiscountProgram_Deferred_1]  DEFAULT ((0)) FOR [Deferred]
GO
ALTER TABLE [dbo].[DistributorSalesCommission] ADD  CONSTRAINT [DF_DistributorSalesCommission_Adjustment]  DEFAULT ((1)) FOR [Portion]
GO
ALTER TABLE [dbo].[DistributorSalesCommission] ADD  CONSTRAINT [DF_DistributorSalesCommission_DataStatus]  DEFAULT ('A') FOR [DataStatus]
GO
ALTER TABLE [dbo].[DistributorSalesDetail] ADD  CONSTRAINT [DF_DistributorSalesDetail_PriceRateForDistributor]  DEFAULT ((1)) FOR [PriceRateForDistributor]
GO
ALTER TABLE [dbo].[FinishProductApply] ADD  CONSTRAINT [DF__FinishPro__Apply__741A2336]  DEFAULT ((0)) FOR [ApplySequenceNumber]
GO
ALTER TABLE [dbo].[FinishProductApply] ADD  CONSTRAINT [DF__FinishPro__Stock__750E476F]  DEFAULT ((0)) FOR [StockCountBottleAfter]
GO
ALTER TABLE [dbo].[FinishProductApply] ADD  CONSTRAINT [DF__FinishPro__Sales__76026BA8]  DEFAULT ((0)) FOR [SalesPrice]
GO
ALTER TABLE [dbo].[FinishProductPrice] ADD  CONSTRAINT [DF_FinishProductPrice_USDFactor]  DEFAULT ((1.0)) FOR [USDExchangeRateFactor]
GO
ALTER TABLE [dbo].[GS1ShippingLabel] ADD  CONSTRAINT [DF_GS1ShippingLabel_UnitOfMeasurement]  DEFAULT (N'LB') FOR [UnitOfMeasurement]
GO
ALTER TABLE [dbo].[OptionDiscountDecorator] ADD  CONSTRAINT [DF_OptionDiscountDecorator_bByMaxDiscount]  DEFAULT ((1)) FOR [bByMaxDiscount]
GO
ALTER TABLE [dbo].[OptionDiscountDecorator] ADD  CONSTRAINT [DF_OptionDiscountDecorator_Policy]  DEFAULT ((0)) FOR [Policy]
GO
ALTER TABLE [dbo].[OptionDiscountDecorator] ADD  CONSTRAINT [DF_OptionDiscountDecorator_bDecorated]  DEFAULT ((0)) FOR [bDecorated]
GO
ALTER TABLE [dbo].[OrderNoControl] ADD  CONSTRAINT [DF_OrderNoControl_SerierNo]  DEFAULT ((1)) FOR [SerierNo]
GO
ALTER TABLE [dbo].[POSInvoice] ADD  CONSTRAINT [DF_POSInvoice_GST]  DEFAULT ((0)) FOR [GST]
GO
ALTER TABLE [dbo].[POSInvoice] ADD  CONSTRAINT [DF_POSInvoice_PST]  DEFAULT ((0)) FOR [PST]
GO
ALTER TABLE [dbo].[POSInvoice] ADD  CONSTRAINT [DF_POSInvoice_HST]  DEFAULT ((0)) FOR [HST]
GO
ALTER TABLE [dbo].[POSInvoice] ADD  CONSTRAINT [DF_POSInvoice_dExtraAdjustment]  DEFAULT ((0)) FOR [dExtraAdjustment]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoic__Invoi__5046D714]  DEFAULT ((0)) FOR [InvoiceSequenceNumber]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoic__Count__513AFB4D]  DEFAULT ((0)) FOR [CountOrder]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoic__Count__522F1F86]  DEFAULT ((0)) FOR [CountShipped]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoic__UnitP__532343BF]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoic__Disco__541767F8]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoiceD__GST__550B8C31]  DEFAULT ((0)) FOR [GST]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoiceD__PST__55FFB06A]  DEFAULT ((0)) FOR [PST]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoiceD__HST__56F3D4A3]  DEFAULT ((0)) FOR [HST]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoic__Packi__57E7F8DC]  DEFAULT ((0)) FOR [PackingListNO]
GO
ALTER TABLE [dbo].[POSInvoiceDetail] ADD  CONSTRAINT [DF__POSInvoic__UnitP__58DC1D15]  DEFAULT ((0)) FOR [UnitPriceFromCode]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF__POSInvoicBO__Invoi__5046D714]  DEFAULT ((0)) FOR [InvoiceSequenceNumber]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF__POSInvoicBO__Count__513AFB4D]  DEFAULT ((0)) FOR [CountOrder]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF__POSInvoicBO__Count__522F1F86]  DEFAULT ((0)) FOR [CountShipped]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF__POSInvoicBO__UnitP__532343BF]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF__POSInvoicBO__Disco__541767F8]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF__POSInvoicBOeD__GST__550B8C31]  DEFAULT ((0)) FOR [GST]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF__POSInvoicBOeD__PST__55FFB06A]  DEFAULT ((0)) FOR [PST]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF__POSInvoicBOeD__HST__56F3D4A3]  DEFAULT ((0)) FOR [HST]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF__POSInvoicBO__Packi__57E7F8DC]  DEFAULT ((0)) FOR [PackingListNO]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] ADD  CONSTRAINT [DF_POSInvoiceDetailBackOrder_CustomerDiscount]  DEFAULT ((0)) FOR [CustomerDiscount]
GO
ALTER TABLE [dbo].[SalesCommission] ADD  CONSTRAINT [DF_SalesCommission_DataStatus]  DEFAULT ('A') FOR [DataStatus]
GO
ALTER TABLE [dbo].[SalesCommission] ADD  CONSTRAINT [DF_SalesCommission_Portion_1]  DEFAULT ((1)) FOR [Portion]
GO
ALTER TABLE [dbo].[VAGiftCard] ADD  CONSTRAINT [DF_VAGiftCard_Valid]  DEFAULT ((1)) FOR [Valid]
GO
ALTER TABLE [dbo].[VAGiftCard] ADD  CONSTRAINT [DF_VAGiftCard_UsedCount]  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[VAGiftCard] ADD  CONSTRAINT [DF_VAGiftCard_DataStatus]  DEFAULT ('A') FOR [DataStatus]
GO
ALTER TABLE [dbo].[VAGiftItem] ADD  CONSTRAINT [DF_VAGiftItem_Unit]  DEFAULT (N'Bottle') FOR [Unit]
GO
ALTER TABLE [dbo].[VAGiftItem] ADD  CONSTRAINT [DF_VAGiftItem_bDecorated]  DEFAULT ((0)) FOR [bDecorated]
GO
ALTER TABLE [dbo].[VAGiftItem] ADD  CONSTRAINT [DF_VAGiftItem_TemperatureSensitive]  DEFAULT ((0)) FOR [TemperatureSensitive]
GO
ALTER TABLE [dbo].[VAOrder] ADD  CONSTRAINT [DF_VAOrder_ExchangeRate]  DEFAULT ((1)) FOR [ExchangeRate]
GO
ALTER TABLE [dbo].[VAOrder] ADD  CONSTRAINT [DF_VAOrder_TaxChar]  DEFAULT (N'N') FOR [TaxChar]
GO
ALTER TABLE [dbo].[VAOrder] ADD  CONSTRAINT [DF_VAOrder_ConfirmShipping_1]  DEFAULT ((0)) FOR [ConfirmShipping]
GO
ALTER TABLE [dbo].[VAOrder] ADD  CONSTRAINT [DF_VAOrder_TemperatureSensitive]  DEFAULT ((0)) FOR [ShippingByRefriderator]
GO
ALTER TABLE [dbo].[VAOrder] ADD  CONSTRAINT [DF_VAOrder_dExtraAdjustment_1]  DEFAULT ((0)) FOR [dExtraAdjustment]
GO
ALTER TABLE [dbo].[VAOrder] ADD  CONSTRAINT [DF_VAOrder_ExtraAdjustmentType_1]  DEFAULT ((1)) FOR [ExtraAdjustmentType]
GO
ALTER TABLE [dbo].[VAOrder] ADD  CONSTRAINT [DF_VAOrder_CreatedID_1]  DEFAULT ('') FOR [CreatedID]
GO
ALTER TABLE [dbo].[VAOrder] ADD  CONSTRAINT [DF_VAOrder_UpdatedID_1]  DEFAULT ('') FOR [UpdatedID]
GO
ALTER TABLE [dbo].[VAOrderItem] ADD  CONSTRAINT [DF_VAOrderItem_Unit_1]  DEFAULT (N'Bottle') FOR [Unit]
GO
ALTER TABLE [dbo].[VAOrderItem] ADD  CONSTRAINT [DF_VAOrderItem_bDecorated]  DEFAULT ((0)) FOR [bDecorated]
GO
ALTER TABLE [dbo].[VAOrderItem] ADD  CONSTRAINT [DF_VAOrderItem_BackorderQty]  DEFAULT ((0)) FOR [BackorderQty]
GO
ALTER TABLE [dbo].[VAOrderItem] ADD  CONSTRAINT [DF_VAOrderItem_TemperatureSensitive]  DEFAULT ((0)) FOR [TemperatureSensitive]
GO
ALTER TABLE [dbo].[VAPayment] ADD  CONSTRAINT [DF_VAPayment_DataStatus]  DEFAULT ('A') FOR [DataStatus]
GO
ALTER TABLE [dbo].[VitaAidFinishProduct] ADD  CONSTRAINT [DF_VitaAidFinishProduct_Salable]  DEFAULT ((1)) FOR [Salable]
GO
ALTER TABLE [dbo].[FinishProductApply]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$FinishProductApply$ProductCode$disallow_zero_length] CHECK  ((len([ProductCode])>(0)))
GO
ALTER TABLE [dbo].[FinishProductApply] CHECK CONSTRAINT [SSMA_CC$FinishProductApply$ProductCode$disallow_zero_length]
GO
ALTER TABLE [dbo].[FinishProductApply]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$FinishProductApply$ProductName$disallow_zero_length] CHECK  ((len([ProductName])>(0)))
GO
ALTER TABLE [dbo].[FinishProductApply] CHECK CONSTRAINT [SSMA_CC$FinishProductApply$ProductName$disallow_zero_length]
GO
ALTER TABLE [dbo].[POSInvoiceDetail]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$POSInvoiceDetail$InvoiceNO$disallow_zero_length] CHECK  ((len([InvoiceNO])>(0)))
GO
ALTER TABLE [dbo].[POSInvoiceDetail] CHECK CONSTRAINT [SSMA_CC$POSInvoiceDetail$InvoiceNO$disallow_zero_length]
GO
ALTER TABLE [dbo].[POSInvoiceDetail]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$POSInvoiceDetail$ProductCode$disallow_zero_length] CHECK  ((len([ProductCode])>(0)))
GO
ALTER TABLE [dbo].[POSInvoiceDetail] CHECK CONSTRAINT [SSMA_CC$POSInvoiceDetail$ProductCode$disallow_zero_length]
GO
ALTER TABLE [dbo].[POSInvoiceDetail]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$POSInvoiceDetail$ProductName$disallow_zero_length] CHECK  ((len([ProductName])>(0)))
GO
ALTER TABLE [dbo].[POSInvoiceDetail] CHECK CONSTRAINT [SSMA_CC$POSInvoiceDetail$ProductName$disallow_zero_length]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$POSInvoiceDetailBackOrder$InvoiceNO$disallow_zero_length] CHECK  ((len([InvoiceNO])>(0)))
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] CHECK CONSTRAINT [SSMA_CC$POSInvoiceDetailBackOrder$InvoiceNO$disallow_zero_length]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$POSInvoiceDetailBackOrder$ProductCode$disallow_zero_length] CHECK  ((len([ProductCode])>(0)))
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] CHECK CONSTRAINT [SSMA_CC$POSInvoiceDetailBackOrder$ProductCode$disallow_zero_length]
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$POSInvoiceDetailBackOrder$ProductName$disallow_zero_length] CHECK  ((len([ProductName])>(0)))
GO
ALTER TABLE [dbo].[POSInvoiceDetailBackOrder] CHECK CONSTRAINT [SSMA_CC$POSInvoiceDetailBackOrder$ProductName$disallow_zero_length]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'00:Original, 01:Cancellation, 05:Replace' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AS2VAOrderRelation', @level2type=N'COLUMN',@level2name=N'PurposeCode'
GO

CREATE VIEW [dbo].[InvalidOrder]
AS
SELECT        o.ID, o.PONo, o.OrderDate, o.AccountNo, o.PaymentTerm, o.PaymentType, o.DueDate, o.ShippingMethod, o.Currency, o.NetSales, o.dAdjustmentDiscount, o.Adjustment, o.ShippingFee, o.SubTotal, o.Total, o.InvoiceDate, 
                         o.Comment, o.Status, o.CreatedDate, o.CreatedUser, o.UpdatedDate, o.UpdatedUser, o.SalesRep, o.TitleBill, o.CompanyNameBill, o.AddrBill, o.CityBill, o.ProvinceBill, o.ZipCodeBill, o.CountryBill, o.TelBill, o.TitleShip, 
                         o.CompanyNameShip, o.AddrShip, o.CityShip, o.ProvinceShip, o.ZipCodeShip, o.CountryShip, o.TelShip, o.Email, o.TaxTitle, o.TaxRate, o.dTaxAmount, o.dAdjustmentDiscountPercentage, o.oAccount, o.InvoiceNo, 
                         o.ExchangeRate, o.TaxChar, o.CouponCode, o.CustomerPONo, o.SendEmailStatus, o.AppliedDate, o.SalesActivity, o.dTotalByEarlyPayment, o.ConfirmShipping, o.ShippingByRefriderator, o.dExtraAdjustment, 
                         o.ExtraAdjustmentType, o.oBillingAddress, o.oShippingAddress, o.DueBalance, o.PONo850, o.CreatedID, o.UpdatedID
FROM            dbo.VAOrder AS o LEFT OUTER JOIN
                         dbo.CustomerAccount AS ca ON ca.ID = o.oAccount AND ca.DataStatus <> 'D'
WHERE        (ca.ID IS NULL)

GO

/****** Object:  View [dbo].[ProductApply_v]    Script Date: 5/21/2021 10:43:59 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ProductApply_v]
AS
SELECT        invoiceDetail.ID, ca.CustomerCode, ca.CustomerName, ca.CustomerEmail1, ca.CustomerTel1, invoiceDetail.MESProductCode, invoiceDetail.ProductName, CAST(invoiceDetail.CountShipped AS int) AS ApplyCountBottle, 
                         invoiceDetail.CreatedDate AS ApplyDate, invoiceDetail.LotNumber AS LotInfo
FROM            dbo.POSInvoiceDetail AS invoiceDetail INNER JOIN
                         dbo.CustomerAccount AS ca ON invoiceDetail.AccountNO = ca.CustomerCode
WHERE        (invoiceDetail.CountShipped > 0) AND (ca.DataStatus <> 'D')

GO

CREATE TRIGGER [dbo].[VitaAidFinishProductAudit] 
   ON  [dbo].[VitaAidFinishProduct]
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	SET NOCOUNT ON;
	insert into VitaAidFinishProductLog
	select i.*
	from  VitaAidFinishProduct t 
	inner join inserted i on t.ID=i.ID 
END
GO


/****** Object:  Sequence [dbo].[order_item_id_seq]    Script Date: 11/23/2020 1:38:59 PM ******/
CREATE SEQUENCE [dbo].[order_item_id_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 9223372036854775807
 CACHE 
GO

ALTER SEQUENCE [dbo].[order_item_id_seq] RESTART WITH 70001

/****** Object:  Sequence [dbo].[hibernate_sequence]    Script Date: 11/23/2020 1:39:35 PM ******/
CREATE SEQUENCE [dbo].[hibernate_sequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 9223372036854775807
 CACHE 
GO


ALTER SEQUENCE [dbo].[hibernate_sequence] RESTART WITH 1179
