<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="log/internalLog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.MailKit"/>
  </extensions>
  <variable name="LogDirectory" value="${gdc:AppDirectory:whenEmpty=${basedir}}" />
  <!-- the targets to write to -->
  <targets>
    <!-- write to file -->
    <!--
    <target xsi:type="File" name="alldata" fileName="${LogDirectory}/all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

    <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
    <!--<target xsi:type="File" name="ownFile-web" fileName="${LogDirectory}/vitaaid.com-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}" />
    <target xsi:type="File" name="ownFile-web" fileName="${LogDirectory}/vitaaid.com-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${right:inner=${callsite:className=false:includeNamespace=false:methodName=true:fileName=true:includeSourcePath=false}:length=40}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <target xsi:type="File" name="ownFile-nhibernate" fileName="${LogDirectory}/vitaaid.com-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

-->
    <target xsi:type="File" name="ownFile-web" fileName="${LogDirectory}/backend.vitaaid.com-${shortdate}.log"
            layout="${longdate}|${pad:padding=5:inner=${uppercase:${level}}}|${pad:padding=-28:fixedLength=True:alignmentOnTruncation=left:inner=${logger}}|${pad:padding=-48:fixedLength=True:alignmentOnTruncation=right:inner=${callsite:className=false:includeNamespace=false:methodName=true:fileName=true:includeSourcePath=false}}|${pad:padding=-48:${message} ${exception:format=tostring}}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            maxArchiveDays="30"/>
    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />


    <target xsi:type="Mail"
          name="mailtoit"
          subject="vitaaid.com server error"
          to="alex@naturoaid.com"
          from="info@vitaaid.com"
          smtpUserName="info@vitaaid.com"
          enableSsl="false"
          smtpPassword="Vitaaid05!"
          smtpServer="box2420.bluehost.com"
          smtpPort="587"
 />

  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="alldata" />-->
    <!--
      Fatal	  Something bad happened; application is going down
      Error	  Something failed; application may or may not continue
      Warn	  Something unexpected; application will continue
      Info	  Normal behavior like mail sent, user updated profile etc.
      Debug	  For debugging; executed query, user authenticated, session expired
      Trace	  For trace debugging; begin method X, end method X
    -->


    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <!--
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    -->
    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) 
    <logger name="NHibernate.*" minlevel="Error" writeTo="ownFile-nhibernate" final="true"/>
    <logger name="vitaaid.com.*" minlevel="Error" writeTo="mailtoit"/>
    
    <logger name="NHibernate.*" minlevel="Off" writeTo="ownFile-web" final="true"/>
    <logger name="MyHibernateUtil.*" minlevel="Debug" writeTo="ownFile-web"/>
    <logger name="MyHibernateUtil.DecryptConnectionProvider" minlevel="Error" writeTo="ownFile-web"/>
    <logger name="vitaaid.com.*" minlevel="Debug" writeTo="ownFile-web"/>
    <logger name="MyHibernateUtil.*" minlevel="Debug" writeTo="ownFile-web" final="true"/>
    -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

    <!--Skip non-critical Microsoft/NHibernate logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="NHibernate.*" maxlevel="Info" final="true" />
    <logger name="MyHibernateUtil.DecryptConnectionProvider" maxlevel="Info" final="true"/>

    <logger name="*" minlevel="Debug" writeTo="ownFile-web" />
  </rules>
</nlog>
