@use '../abstracts' as *;

.blog-article {
  @include media('>=tablet') {
    @include clampattr(margin-bottom, 120);
  }
  .article-content-col {
    padding-left: 0px;
    @include media('>=tablet') {
      @include importantclampattr(padding-right, 36);
    }
  }

  .banner-div {
    @include media('<tablet') {
      @include clampattr(margin-top, 15);
      margin-left: -24px;
      width: 100vw;
    }
    @include media('>=tablet') {
      @include clampattr(margin-top, 24);
    }

    // border-radius: 10px;
    border: 1pt solid #ccc;
    overflow: hidden;
  }

  .banner {
    @include media('<tablet') {
      width: 100vw;
    }
    @include clampattr(max-width, 1050);
    @include clampattr(max-height, 328);
  }

  .title {
    @include media('<tablet') {
      @include clampattr(margin-top, 16);
    }
    @include media('>=tablet') {
      @include clampattr(margin-top, 30);
    }
    @include clampattr(font-size, 22);
    @include clampattr(line-height, 30);
    color: var(--marine-blue);
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    @include clampattr(padding-bottom, 12);
  }

  .issue-vol-no-block {
    @include media('<tablet') {
      @include clampattr(padding-top, 6);
      @include clampattr(font-size, 15);
    }
    @include media('>=tablet') {
      @include clampattr(padding-top, 10);
      @include clampattr(font-size, 17);
    }
    @include clampattr(line-height, 18);
    color: #5c5c5c;
  }

  .article-content {
    @include media('<tablet') {
      @include clampattr(margin-top, 16);
    }
    @include media('>=tablet') {
      @include clampattr(margin-top, 32);
    }
  }

  .article-reference {
    color: #5c5c5c;
    @include media('<tablet') {
      @include clampattr(margin-top, 18);
      @include clampattr(padding-top, 6);
      @include clampattr(font-size, 15);
      @include clampattr(line-height, 18);
    }
    @include media('>=tablet') {
      @include clampattr(margin-top, 80);
      @include clampattr(padding-top, 2);
      @include clampattr(font-size, 12);
      @include clampattr(line-height, 20);
      font-weight: 300;
    }
    border-top: 1px solid var(--greyish-brown);
    border-bottom: 1px solid var(--greyish-brown);
  }

  .notice {
    @include media('<tablet') {
      @include clampattr(margin-top, 15);
      @include clampattr(padding-top, 9);
    }
    @include media('>=tablet') {
      @include clampattr(margin-top, 60);
      @include clampattr(padding-top, 12);
      @include clampattr(padding-bottom, 12);
    }
    border: 1px solid var(--warm-grey);
    border-radius: 10px;
    @include clampattr(font-size, 15);
    @include clampattr(line-height, 18);
    color: var(--warm-grey);
    @include clampattr(padding-left, 20);
    @include clampattr(padding-right, 20);
  }
}
