// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@use '../abstracts' as *;

.marquee-div {
  display: flex;
  align-items: center;
  width: 100%;
  @include clampattr(height, 45);
  background-color: #f37321;
}
.bold-text {
  font-weight: 600;
}
.marquee-text {
  @include clampattr(width, 1280);
  margin-left: auto;
  margin-right: auto;
  @include clampattr(font-size, 18);
  @include clampattr(line-height, 30);
  font-weight: 300;
  color: white;
}

.home-page {
  position: relative;

  .home-video {
    min-height: 78vh;
    overflow: hidden;
    position: relative;

    .bg-video {
      background-color: #000;
      left: 0px;
      min-height: 100%;
      min-width: 100%;
      overflow: hidden;
      position: absolute;
      top: 0px;
      z-index: -1;
    }

    .overlay {
      background-color: rgba(00, 54, 86, 0.5);
      color: white;
      bottom: 0;
      cursor: pointer;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      @include clampattr(font-size, 40);
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center; /* align vertical */
    }

    .sound-on {
      @include image_content('mail.png');
    }

    .sound-off {
      @include image_content('x-object.png');
    }
  }

  .home-banner-img {
    width: 100%;
    @include clampattr(height, 349);
    object-fit: cover;
  }

  .home-section-line {
    margin: 0 auto;

    @include media('<tablet') {
      @include mdivimg('home-section-line-m', 328, 1);
      @include clampattr(margin-top, 72);
    }

    @include media('>=tablet') {
      @include mdivimg('home-section-line', 886, 2);
      @include clampattr(margin-top, 75);
    }

    text-align: center;
  }

  .quality-transparency {
    @include media('<tablet') {
      // @include clampattr(height, 604);
      @include clampattr(padding-top, 40);
    }

    @include media('>=tablet') {
      // @include clampattr(height, 596);
      @include clampattr(padding-top, 100);
    }

    position: relative;
    display: block;
    background-color: white;

    .home-new-block1 {
      @include media('<tablet') {
        @include clampattr(bottom, 25);
        @include mdivimg('home-new-block1-m', 145, 185);
      }

      @include media('>=tablet') {
        @include gdivimg('home-new-block1.png', 430, 655);
        @include clampattr(left, 13);
        @include clampattr(top, 120);
      }

      position: absolute;
      z-index: 1;
    }

    .home-new-block2 {
      @include media('<tablet') {
        @include clampattr(top, 0);
        @include mdivimg('home-new-block2-m', 82, 212);
      }

      @include media('>=tablet') {
        @include gdivimg('home-new-block2.png', 187, 483);
        top: 3px;
      }

      position: absolute;
      right: 3px;
      z-index: 1;
    }

    .text-1 {
      text-align: center;

      @include media('<tablet') {
        @include clampattr(font-size, 15);
      }

      @include media('>=tablet') {
        @include clampattr(font-size, 20);
      }

      color: var(--marine-blue);
      font-weight: 700;

      .home-section2-p1 {
        vertical-align: baseline;

        @include media('>=tablet') {
          @include clampattr(width, 24);
          @include clampattr(height, 28);
          background-image: url('/img/home-section2-p1.png');
        }

        @include media('<tablet') {
          @include mdivimg('home-section2-p1-m', 15, 21);
        }

        @include clampattr(margin-left, 10);
        display: inline-block;
      }
    }

    .detail {
      @include media('<tablet') {
        @include clampattr(margin-top, 38);
      }

      @include media('>=tablet') {
        @include clampattr(margin-top, 80);
        display: flex;
      }

      justify-content: center;

      .left-block {
        @include media('<tablet') {
          width: 100%;
        }

        @include media('>=tablet') {
          @include clampattr(width, 550);
        }
      }

      .text-2 {
        @include media('<tablet') {
          // @include clampattr(width, 240);
          @include clampattr(font-size, 30);
          @include clampattr(line-height, 32);
        }

        @include media('>=tablet') {
          @include clampattr(width, 450);
          @include clampattr(font-size, 50);
          @include clampattr(line-height, 55);
          margin: 0 auto;
        }

        color: var(--peacock-blue);
        text-align: center;
      }

      .text-3 {
        color: var(--greyish-brown);

        @include media('<tablet') {
          @include clampattr(width, 310);
          @include clampattr(font-size, 15);
          @include clampattr(line-height, 21);
        }

        @include media('>=tablet') {
          @include clampattr(width, 425);
          @include clampattr(font-size, 20);
          @include clampattr(line-height, 25);
        }

        text-align: center;
        margin: 0 auto;
      }

      .learn-more-btn {
        @include clampattr(border-radius, 10);
        font-weight: 300;
        border: 1px solid var(--marine-blue);
        color: var(--marine-blue);
        @include media('<tablet') {
          @include mobile-btn;
          @include clampattr(margin-top, 20);
          /*border: none;*/
          @include clampattr(padding-left, 8);
          @include clampattr(padding-right, 8);
        }
        @include media('>=tablet') {
          @include clampattr(height, 30);
          @include clampattr(font-size, 12);
          @include clampattr(padding-left, 8);
          @include clampattr(padding-right, 8);
          @include clampattr(margin-top, 70);
        }

        background-color: transparent;
        outline: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      .home-quality-start {
        margin: 0 auto;

        @include media('<tablet') {
          @include mdivimg('home-quality-start', 58, 26);
        }

        text-align: center;
      }

      .right-block {
        @include media('<tablet') {
          width: 100%;
          @include clampattr(margin-top, 40);
        }

        @include media('>=tablet') {
          @include clampattr(width, 550);
          @include clampattr(margin-left, 90);
        }
      }
    }

    .home-quality-line {
      margin: 0 auto;

      @include media('<tablet') {
        @include mdivimg('home-quality-line-m', 250, 1);
        @include clampattr(margin-top, 9);
        @include clampattr(margin-bottom, 9);
      }

      @include media('>=tablet') {
        @include mdivimg('home-quality-line', 549, 1);
        @include clampattr(margin-top, 16);
        @include clampattr(margin-bottom, 8);
      }

      text-align: center;
    }
  }

  .products-section {
    @include media('<tablet') {
      @include clampattr(margin-top, 20);
    }

    @include media('>=tablet') {
      @include clampattr(margin-top, 67);
    }

    position: relative;
    display: inline-block;
    width: 100%;

    .home-new-block3 {
      @include media('<tablet') {
        @include mdivimg('home-new-block3-m', 162, 63);
      }

      @include media('>=tablet') {
        @include gdivimg('home-new-block3.png', 378, 147);
      }

      bottom: 5px;
      position: absolute;
      right: 0px;
    }

    .text-1 {
      display: block;
      text-align: center;
      color: var(--marine-blue);
      font-weight: 700;

      @include media('<tablet') {
        @include clampattr(font-size, 15);
      }

      @include media('>=tablet') {
        @include clampattr(font-size, 20);
      }

      .products-section-p1 {
        @include media('<tablet') {
          @include mdivimg('products-section-p1-m', 8, 16);
        }

        @include media('>=tablet') {
          @include clampattr(width, 13);
          @include clampattr(height, 22);
          background-image: url('/img/products-section-p1.png');
        }

        display: inline-block;
      }

      .products-section-p2 {
        @include media('<tablet') {
          @include mdivimg('products-section-p2-m', 12, 12);
        }

        @include media('>=tablet') {
          @include clampattr(width, 19);
          @include clampattr(height, 19);
          background-image: url('/img/products-section-p2.png');
        }

        @include clampattr(margin-right, 6);
        display: inline-block;
      }
    }

    .text-2 {
      @include media('<tablet') {
        @include clampattr(margin-top, 22);
        @include clampattr(font-size, 28);
      }

      @include media('>=tablet') {
        @include clampattr(margin-top, 33);
        @include clampattr(font-size, 50);
      }

      display: block;
      text-align: center;
      color: var(--peacock-blue);
    }

    .home-product-line {
      margin: 0 auto;

      @include media('<tablet') {
        @include mdivimg('home-product-line-m', 300, 1);
        @include clampattr(margin-top, 9);
        @include clampattr(margin-bottom, 9);
      }

      @include media('>=tablet') {
        @include clampattr(width, 800);
        @include clampattr(height, 1);
        background-image: url('/img/home-product-line.png');
        @include clampattr(margin-top, 16);
        @include clampattr(margin-bottom, 8);
      }

      text-align: center;
    }

    .text-3 {
      display: block;
      color: var(--greyish-brown);
      text-align: center;

      @include media('<tablet') {
        @include clampattr(font-size, 15);
        @include clampattr(line-height, 21);
        @include clampattr(width, 270);
        padding-bottom: 2px;
        margin: 0 auto;
      }

      @include media('>=tablet') {
        @include clampattr(font-size, 20);
        @include clampattr(line-height, 25);
      }
    }

    .home-product-line2 {
      @include media('<tablet') {
        text-align: center;

        .home-product-line2-img {
          @include clampattr(width, 328);
          vertical-align: bottom;
        }
      }

      @include media('>=tablet') {
        @include clampattr(width, 886);
      }

      @include clampattr(margin-top, 55);
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .feature-products {
      @include media('>=tablet') {
        display: flex;
      }

      justify-content: center;

      .block-1-adjust {
        @include clampattr(margin-left, 24);
        @include clampattr(margin-right, 24);
      }

      .home-featured-product {
        @include media('<tablet') {
          margin: 0 auto;
          @include clampattr(margin-top, 14);
          @include clampattr(width, 258);
          @include clampattr(min-height, 177);
        }

        @include media('>=tablet') {
          @include clampattr(margin-top, 42);
          @include clampattr(width, 409);
          @include clampattr(min-height, 283);
        }

        border: solid 0.2px var(--whisper-grey);
        @include clampattr(border-radius, 10);
        position: relative;

        .info-block {
          position: relative;

          .product-name {
            @include media('<tablet') {
              @include clampattr(margin-top, 12);
              @include clampattr(margin-left, 8);
              @include clampattr(font-size, 18);
            }

            @include media('>=tablet') {
              @include clampattr(margin-top, 23);
              @include clampattr(margin-left, 13);
              @include clampattr(font-size, 22);
            }

            color: var(--marine-blue);
          }

          .delimite-line {
            @include media('<tablet') {
              .delimite-line-img {
                @include clampattr(width, 244);
              }
            }

            @include clampattr(height, 16);
            @include clampattr(padding-left, 8);
            @include clampattr(padding-right, 8);
            padding-bottom: 0px;
          }

          text-align: left;
          object-fit: contain;

          .detail-block {
            td {
              padding: 0;
              vertical-align: top;
            }

            @include media('<tablet') {
              @include clampattr(margin-left, 8);
              // @include clampattr(margin-right, 8);
              @include clampattr(margin-top, 3);
              @include clampattr(padding-bottom, 12);
            }

            @include media('>=tablet') {
              @include clampattr(margin-left, 13);
              @include clampattr(margin-right, 13);
              @include clampattr(margin-top, 3);
              @include clampattr(padding-bottom, 22);
            }

            display: flex;

            .product-function {
              @include media('<tablet') {
                @include clampattr(font-size, 13);
                @include clampattr(line-height, 17);
                @include clampattr(width, 123);
              }

              @include media('>=tablet') {
                @include clampattr(font-size, 15);
                @include clampattr(line-height, 18);
                @include clampattr(width, 184);
              }

              color: #5c5c5c;
            }

            .product-img {
              @include media('<tablet') {
                // @include clampattr(bottom, 10);
                // @include clampattr(right, 6);
                @include clampattr(width, 125);
                @include clampattr(height, 125);
              }

              @include media('>=tablet') {
                // @include clampattr(bottom, 15);
                @include clampattr(right, 10);
                @include clampattr(width, 200);
                @include clampattr(height, 200);
              }

              object-fit: scale-down;
              cursor: pointer;
            }
          }
        }

        .know-more {
          @include clampattr(border-radius, 10);
          font-weight: 300;
          border: 1px solid var(--marine-blue);
          color: var(--marine-blue);
          @include media('<tablet') {
            @include mobile-btn;
            /*border: none;*/
            @include clampattr(padding-left, 8);
            @include clampattr(padding-right, 8);
          }

          @include media('>=tablet') {
            @include clampattr(padding-left, 9);
            @include clampattr(padding-right, 9);
            @include clampattr(height, 30);
            @include clampattr(font-size, 12);
          }

          background-color: transparent;
          outline: none;
          display: block;
        }
      }
    }
  }

  .join-now-section {
    @include media('<tablet') {
      @include clampattr(padding-top, 20);
      @include clampattr(height, 320);
    }

    @include media('>=tablet') {
      @include clampattr(padding-top, 132);
      @include clampattr(padding-bottom, 123);
      // @include clampattr(height, 550);
    }

    position: relative;
    display: block;
    text-align: center;

    .home-new-block4 {
      @include media('<tablet') {
        @include mdivimg('home-new-block4-m', 66, 172);
        left: 1px;
        @include clampattr(top, 65);
      }

      @include media('>=tablet') {
        @include gdivimg('home-new-block4.png', 165, 428);
        left: 3px;
        top: 0px;
      }

      position: absolute;
    }

    .home-new-block5 {
      @include media('<tablet') {
        @include mdivimg('home-new-block5-m', 189, 73);
        left: 1px;
        bottom: 5px;
      }

      @include media('>=tablet') {
        @include gdivimg('home-new-block5.png', 439, 170);
        left: 3px;
        bottom: 0px;
      }

      position: absolute;
    }

    .mail {
      // text-align: center;
      // display: contents;
      margin: 0 auto;

      @include media('<tablet') {
        @include mdivimg('mail-m', 18, 14);
      }

      @include media('>=tablet') {
        @include mdivimg('mail', 28, 21);
      }
    }

    .text-1 {
      @include media('<tablet') {
        @include clampattr(font-size, 14);
        @include clampattr(margin-top, 9);
      }

      @include media('>=tablet') {
        @include clampattr(font-size, 20);
        @include clampattr(margin-top, 15);
      }

      color: var(--marine-blue);
      font-weight: 700;
    }

    .text-2 {
      @include media('<tablet') {
        @include clampattr(font-size, 28);
        @include clampattr(line-height, 32);
        @include clampattr(margin-top, 30);
        @include clampattr(width, 200);
        margin-left: auto;
        margin-right: auto;
      }

      @include media('>=tablet') {
        @include clampattr(font-size, 50);
        @include clampattr(margin-top, 42);
        text-align: center;
      }

      color: var(--peacock-blue);
    }

    .home-join-line {
      margin: 0 auto;

      @include media('<tablet') {
        @include mdivimg('home-join-line-m', 259, 1);
        @include clampattr(margin-top, 9);
        @include clampattr(margin-bottom, 9);
      }

      @include media('>=tablet') {
        @include clampattr(width, 800);
        @include clampattr(height, 1);
        background-image: url('/img/home-product-line.png');
        @include clampattr(margin-top, 16);
        @include clampattr(margin-bottom, 8);
      }

      text-align: center;
    }

    .text-3 {
      color: var(--greyish-brown);

      @include media('<tablet') {
        @include clampattr(font-size, 15);
        @include clampattr(line-height, 21);
        @include clampattr(width, 200);
        margin: 0 auto;
      }

      @include media('>=tablet') {
        @include clampattr(font-size, 20);
        @include clampattr(line-height, 25);
      }

      text-align: center;
    }

    .join-now-btn {
      @include clampattr(border-radius, 10);
      font-weight: 300;
      border: 1px solid var(--marine-blue);
      color: var(--marine-blue);
      @include media('<tablet') {
        @include mobile-btn;
        @include clampattr(margin-top, 30);
        /*border: none;*/
        @include clampattr(padding-left, 8);
        @include clampattr(padding-right, 8);
      }
      @include media('>=tablet') {
        @include clampattr(width, 100);
        @include clampattr(height, 30);
        @include clampattr(margin-top, 76);
        @include clampattr(font-size, 12);
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      background-color: transparent;
      outline: none;
    }
  }
}
.browser-restriction-msg-box {
  .close-img-btn {
    object-fit: contain;
    position: absolute;
    top: 4px;
    right: 4px;

    .close-img {
      width: 8px;
      height: 8px;
    }
  }

  .icon {
    vertical-align: baseline;
    @include clampattr(height, 15);
    @include clampattr(margin-right, 8);
  }

  .browser-icon {
    vertical-align: baseline;
    @include clampattr(height, 49);
    @include clampattr(margin-right, 20);
    @include clampattr(margin-top, 10);
  }

  .title {
    @include clampattr(font-size, 15);
    color: var(--marine-blue);
  }

  .message {
    @include clampattr(max-width, 500);
    @include clampattr(margin-top, 6);
    @include clampattr(margin-right, 12);
    @include clampattr(font-size, 13);
    font-weight: 300;
    color: #5b5b5b;
  }
}
