@forward 'home';
@forward 'productspage';
@forward 'qualitypage';
@forward 'productdetailpage';
@forward 'blogpage';
@forward 'blogarticlepage';
@forward 'webinarspage';
@forward 'webinardetailpage';
@forward 'protocolspage';
@forward 'registrationpage';
@forward 'infopatientspage';
@forward 'techsupportpage';
@forward 'joinourmailinglistpage';
@forward 'ourvisionpage';
@forward 'medicalconsultancyteampage';
@forward 'medicaladvisoryboardpage';
@forward 'contactuspage';
@forward 'buildingtrustthroughqualitypage';
@forward 'resetpasswordpage';
@forward 'bingopage';
