@use '../abstracts' as *;
@use '../base' as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.reset-password {
  @extend .main-body-bottom-line;
  @include media('>=tablet') {
    @include clampattr(margin-bottom, 54);
  }

  .header-block {
    @include clampattr(font-size, 25);
    @include clampattr(line-height, 45);
    color: var(--marine-blue);
    border-bottom: 1px solid var(--grey-borderline);
    @include media('<tablet') {
      @include clampattr(padding-bottom, 0);
      @include clampattr(margin-bottom, 8);
    }
    @include media('>=tablet') {
      @include clampattr(padding-bottom, 9);
      @include clampattr(margin-bottom, 15);
      font-weight: 600;
    }
  }

  .reset-password-form {
    @include media('<tablet') {
      @include clampattr(margin-top, 8);
    }
    @include media('>=tablet') {
      @include clampattr(margin-top, 24);
    }
    .row {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .colspan2 {
      @include media('<tablet') {
        width: 100%;
      }
      @include media('>=tablet') {
        @include importantclampattr(width, 532);
      }
    }
    .col-input {
      @include clampattr(height, 35);
      @include clampattr(border-radius, 10);
      @include clampattr(margin-bottom, 30);
      outline: none;
      border: 1px solid #ccc;
      @include clampattr(padding-left, $input-padding-left);
      @include media('<tablet') {
        width: 100%;
      }
      @include media('>=tablet') {
        @include importantclampattr(width, 250);
      }
    }

    .error-msg {
      color: var(--error-color);
      display: block !important;
      position: absolute !important;
      @include clampattr(bottom, 12);
    }

    .button-block {
      @include media('>=tablet') {
        text-align: end;
        @include clampattr(padding-top, 50);
      }
      button {
        @include clampattr(border-radius, 10);
        outline: none;
        @include clampattr(height, 30);
        @include media('<tablet') {
          @include mobile-btn;
          background: var(--marine-blue);
          color: white;
          border: 1px solid #bccad3;
        }
        @include media('>=tablet') {
          @include clampattr(margin-left, 8);
          background: transparent;
          color: var(--marine-blue);
          @include clampattr(font-size, 12);
          @include clampattr(width, 70);
          font-weight: 300;
          border: 1px solid #608396;
        }
      }
    }
  }
}
