@use '../../abstracts' as *;
@use '../../base' as *;

.profile {
  @extend .main-body-bottom-line;

  @include media('>=tablet') {
    @include clampattr(margin-top, 36);
    @include clampattr(margin-bottom, 132);
  }
  .title {
    @include clampattr(font-size, 25);
    @include clampattr(line-height, 45);
    color: var(--marine-blue);
    border-bottom: 1px solid var(--grey-borderline);
    @include media('<tablet') {
      @include clampattr(padding-bottom, 0);
      @include clampattr(margin-bottom, 8);
    }
    @include media('>=tablet') {
      @include clampattr(padding-bottom, 9);
      @include clampattr(margin-bottom, 15);
      font-weight: 600;
    }
  }

  .header-label {
    @include clampattr(font-size, 20);
    color: var(--ocean-blue);
    @include media('<tablet') {
      @include clampattr(line-height, 24);
    }
    @include media('>=tablet') {
      @include clampattr(line-height, 30);
      font-weight: 600;
    }
  }

  .header-value {
    font-weight: 400;
    color: var(--greyish-brown);
    @include media('<tablet') {
      @include clampattr(font-size, 18);
      @include clampattr(line-height, 24);
    }
  }

  /*  .profile-row {
    @include clampattr(margin-left, $page-lr-padding);
    @include clampattr(margin-right, $page-lr-padding);
  }

*/
  .profile-col-12 {
    padding: 0px;
    @include clampattr(margin-top, 32);
  }

  .profile-form {
    .row {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }

    .col-12 {
      padding: 0px;
    }
    .col-12 {
      .g-input,
      .select-input {
        @include media('<tablet') {
          width: 100%;
          display: block;
          margin-bottom: 24px;
        }
      }
    }
    .left-side {
      padding: 0;

      div {
        @include media('<tablet') {
          display: block;
        }
        @include media('>=tablet') {
          display: inline-block;
        }
        vertical-align: top;
        position: relative;
      }
    }

    .right-side {
      @include media('>=tablet') {
        @include importantclampattr(padding-left, 99);
      }
      div {
        @include media('<tablet') {
          display: block;
        }
        @include media('>=tablet') {
          display: inline-block;
        }
        vertical-align: top;
        position: relative;
      }
    }

    .col2-div {
      @include media('>=tablet') {
        @include clampattr(margin-left, $col-gap);
      }
    }

    .colspan2 {
      @include media('<tablet') {
        width: 100%;
      }
      @include media('>=tablet') {
        @include importantclampattr(width, 532);
      }
    }

    .col-input {
      @include clampattr(height, 35);
      @include clampattr(border-radius, 10);

      outline: none;
      border: 1px solid #ccc;
      @include clampattr(padding-left, $input-padding-left);
      @include media('<tablet') {
        width: 100%;
      }
      @include media('>=tablet') {
        @include clampattr(margin-bottom, 30);
        @include clampattr(width, 250);
      }
    }

    .error-msg {
      color: var(--error-color);
      display: block !important;
      position: absolute !important;
      @include media('<tablet') {
        @include clampattr(font-size, 14);
      }
      @include media('>=tablet') {
        position: absolute !important;
        @include clampattr(bottom, 12);
      }
    }

    select {
      @include clampattr(font-size, 15);
      @include importantclampattr(padding-left, $select-padding-left);
      color: #5c5c5c;
    }

    .button-block {
      @include media('>=tablet') {
        text-align: end;
        @include clampattr(padding-top, 50);
      }

      button {
        @include clampattr(border-radius, 10);
        outline: none;

        @include media('<tablet') {
          @include mobile-btn;
          background: var(--marine-blue);
          color: white;
          border: 1px solid #bccad3;
          @include clampattr(font-size, 15);
        }
        @include media('>=tablet') {
          @include clampattr(margin-left, 8);
          @include clampattr(font-size, 12);
          @include clampattr(width, 70);
          @include clampattr(height, 30);
          font-weight: 300;
          color: var(--marine-blue);
          border: 1px solid #608396;
          background-color: transparent;
        }
      }
    }
  }
}
