@use '../abstracts' as *;
@use '../base' as *;

.forgot-password-m {
  @extend .main-body-bottom-line;
}

.forgot-pwd-popover {
  @include media('>=tablet') {
    @include clampattr(width, 340);
    @include clampattr(height, 138);
  }
  .forgot-password-title {
    color: var(--marine-blue);
    padding-left: 0px;
    @include media('<tablet') {
      @include clampattr(font-size, 25);
    }
    @include media('>=tablet') {
      @include clampattr(font-size, 15);
    }
  }

  .forgot-pwd-text {
    color: #797979;
    @include media('<tablet') {
      @include clampattr(font-size, 18);
      @include clampattr(line-height, 24);
      @include clampattr(margin-top, 6);
    }
    @include media('>=tablet') {
      @include clampattr(width, 290);
      @include clampattr(font-size, 12);
      @include clampattr(line-height, 18);
      font-weight: 300;
    }
  }

  .email-input {
    @include clampattr(border-radius, 10);
    outline: none;
    border: 1px solid #ccc;
    @include media('<tablet') {
      width: 100%;
      @include clampattr(height, 35);
      @include clampattr(margin-top, 10);
      @include clampattr(padding-left, 6);
    }
    @include media('>=tablet') {
      @include clampattr(width, 340);
      @include clampattr(height, 25);
      @include clampattr(margin-top, 12);
      @include clampattr(padding-left, 6);
    }
  }

  .action-div {
    position: relative;
    @include media('<tablet') {
    }
    @include media('>=tablet') {
      @include clampattr(width, 340);
      @include clampattr(height, 60);
    }
  }

  .normal-color {
    color: var(--marine-blue);
  }
  .warning-color {
    color: #f34343;
  }
  .after-submit-text {
    @include media('<tablet') {
      @include clampattr(font-size, 18);
      @include clampattr(height, 24);
      @include clampattr(padding-left, 6);
    }
    @include media('>=tablet') {
      @include clampattr(font-size, 12);
      @include clampattr(width, 210);
      @include clampattr(height, 19);
      @include clampattr(padding-left, 6);
      font-weight: 300;
    }

    /*@include clampattr(margin-top, 6);*/
  }

  .request-line-button {
    @include clampattr(border-radius, 10);
    outline: none;
    border: 1px solid #bccad3;
    color: var(--marine-blue);
    background: transparent;
    @include media('<tablet') {
      @include mobile-btn;
      @include clampattr(margin-top, 6);
    }
    @include media('>=tablet') {
      //   position: absolute;
      //   right: 0;
      //   top: 0;
      @include clampattr(margin-top, 10);
    }
  }
}
