/* Left Panel */
.filters-navbar .item,
.filters-navbar ul.dxnb-content
{
    border-right: none;
}

.filters-navbar .item
{
    padding-left: 24px !important;
}

/* Product borders */
.webinar:focus
{
    outline: none;
}

.webinar .dxgvCSD,
.webinar .pager
{
    border-left: none;
    border-right: none;
}
.webinar .dxgvLVR > td.dxgv
{
    border-bottom: none !important;
}


.webinar .column-image
{
    width: 12px;
    height: 12px;
}


/* Product filter panel */
.filter-panel
{
    padding: 16px;
    padding-left: 18px;
}

#pvEditForm .dxeTextBoxSys 
{
    width: 100%;
}
#pvEditForm .dxeButtonEditSys {
    width: 100% !important;
}
#pvNewForm .dxeTextBoxSys {
    width: 100%;
}
#pvNewForm .dxeButtonEditSys {
    width: 100% !important;
}

.PopHtmlEditor {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    width: 72px;
    border: none;
    background-color: #E0E7FF;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    /*color: #475569;*/
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.PopHtmlEditor::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #4F46E5;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: all 0.3s ease;
}
.PopHtmlEditor:hover {
    color: #4F46E5;
}

.PopHtmlEditor:hover::after {
    transform: scaleX(1);
}

#ModalModeFormLayout #btnUpdate {
    margin-left: 50px;
}