// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// global varable
// $mq-desktop: 1920px;
// $mq-tablet: 1024px;
// $mq-phone: 768px;

$defVW: 1920 !default;
$page-lr-padding: 320;
$page-lr-padding-m: 24;
$input-padding-left: 15;
$select-padding-left: 11;
$col-gap: 32;
$top-offset: 100;
:export {
  topOffset: $top-offset;
}
/*
@media (max-width: $mq-phone - 1px) {
  $page-lr-padding: 80;
}

@media (min-width: $mq-phone) and (max-width: $mq-tablet - 1px) {
  $page-lr-padding: 160;
}
@media (min-width: $mq-tablet) and (max-width: $mq-desktop - 1px) {
  $page-lr-padding: 240;
}
@media (min-width: $mq-desktop) {
  $page-lr-padding: 320;
}

*/
/// Regular font family
/// @type List
// non mobile
/*$text-font-stack: Calibri !default;*/
/*@media (max-width: 767px) {
  $text-font-stack: Calibri !default;
}
@media (min-width: 768px) {
  $text-font-stack: SegoeUI !default;
}
*/
// mobile
/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
// $max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   'small': 320px,
//   'medium': 768px,
//   'large': 1024px,
// ) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

//
// $Font-Weight
//
$font-weight-light: 100;
$font-weight-extralight: 200;
$font-weight-semilight: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;
